{% extends 'base.html' %}{% load staticfiles %}{% load bootstrap3 %}
{% block title %}{{ exam.name }}{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="index.html"><i class="icon-home2 position-left"></i> Fudul</a></li>
							<li class="active">Institutions</li>
						</ul>
					</div>
{% endblock %}
{% block content %}

<style>
.panel-body a {
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-top: auto
}
</style>
    <div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Adding Question Form<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
        <div class="panel-body">
        {% bootstrap_form_errors questionform %}
        <form method="post">
	    {% csrf_token %}
            <label class="control-label col-lg-2">Question Source</label>
            <div class="form-group has-feedback has-feedback-left">
 {{ questionform.source }}
			<div class="form-control-feedback">
				<i class="icon-user-check text-muted"></i>
			</div>
		</div>
        <label class="control-label col-lg-2">Question Subject</label>
        <div class="form-group has-feedback has-feedback-left">
 {{ questionform.subject }}
			<div class="form-control-feedback">
				<i class="icon-user-check text-muted"></i>
			</div>
		</div>
            <label class="control-label col-lg-2">Question Figure</label>
        		<div class="form-group has-feedback has-feedback-left">
			{% bootstrap_field questionform.figure show_label=False %}
			<div class="form-control-feedback">
				<i class="icon-user-check text-muted"></i>
			</div>
		</div>
            <label class="control-label col-lg-2">Question Type</label>
		<div class="form-group has-feedback has-feedback-left">
			{% bootstrap_field questionform.exam_type show_label=False %}
			<div class="form-control-feedback">
				<i class="icon-user-check text-muted"></i>
			</div>
		</div>
        <label class="control-label col-lg-2">Question Status</label>
        <div class="form-group has-feedback has-feedback-left">
			{% bootstrap_field questionform.status show_label=False %}
			<div class="form-control-feedback">
				<i class="icon-user-check text-muted"></i>
			</div>
		</div>
            <label class="control-label col-lg-2">Question Text</label>
        {% bootstrap_form_errors revisionform %}
        <div class="form-group has-feedback has-feedback-left">
			{% bootstrap_field revisionform.text show_label=False %}
			<div class="form-control-feedback">
				<i class="icon-user-check text-muted"></i>
			</div>
		</div>
            <label class="control-label col-lg-2">Answer Exlaination</label>
        {% bootstrap_form_errors revisionform %}
        		<div class="form-group has-feedback has-feedback-left">
			{% bootstrap_field revisionform.explanation show_label=False %}
			<div class="form-control-feedback">
				<i class="icon-user-check text-muted"></i>
			</div>
		</div>
                      <label class="control-label col-lg-2">Question Choices</label>
                        {{ revisionchoiceformset.management_form }}
                        {{ revisionchoiceformset.non_form_errors.as_ul }}
                        <table id="choice_formset" class="form" style="width: 100%;">

                        {% for form in revisionchoiceformset.forms %}
                          {% if forloop.first %}
                            <colgroup>
                                <col class="col-xs-8">
                                <col class="col-xs-4">
                            </colgroup>
                          {% endif %}
                          <tr class="form-container">
                          {% for field in form.visible_fields %}
                            <td>
                            {% if forloop.first %}
                              {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                              {% endfor %}
                            {% endif %}
                                <div class="form-group">
                              {{ field.errors.as_ul }}
                              {{ field }}
                                </div>
                            </td>
                          {% endfor %}
                          </tr>
                        {% endfor %}
                        </table>
<input type="hidden" value="{{ exam.pk }}">
{{ questionform.media }}
               <button type="submit" class="btn bg-teal btn-block btn-lg">Add Question <i class="icon-circle-right2 position-right"></i></button>

        </form>
        </div>

    </div>

{% endblock %}
{% block customscript %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script type="text/javascript">
    $(function(){

        $("textarea").autoGrow();
        // add formset controls
        $("#choice_formset .form-container").formset({
            prefix: '{{ choice_formset.prefix }}',
            addText: 'Add a Choice',
            deleteText: 'Delete',
            addCssClass: 'add-row btn btn-xs btn-primary',
            deleteCssClass: 'delete-row btn btn-xs btn-danger',
        });
        $(':input').not(':button, :submit, :reset, :hidden').removeAttr('checked').removeAttr('selected').not('‌​:checkbox, :radio, select').val('');
        });
    </script>

{% endblock %}
