{% extends 'base.html' %}
{% block title %}Fudul | {{ category.name }}
{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Fudul</a></li>
                                                        {% for parent_category in category.get_parent_categories %}
							<li><a href="{% url 'blocks:list_categories' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
                                                        {% endfor %}
                                                        <li class="active">{{ category.name }}</li>
						</ul>
					</div>
{% endblock %}
{% block content %}
<h1>{{ category.name }}</h1>
<style>
.panel-body a {
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-top: auto
}
</style>
{% if exams.exists and not category.children.exists %}
            {% for exam in exams %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel bg-teal-400">
                                <div class="panel-body">
                                    <a href="#">{{ exam.name }}</a>
                </div>
            </div>
        </div>
    </div>
            {% endfor %}
{% elif category.children.exists %}

{% for child_category in category.children.all %}
    <div class="row">
        <div class="col-lg-4">
            <div class="panel bg-teal-400">
                <div class="panel-body">
                    <a href="{% url 'blocks:list_categories' child_category.get_slugs %}">{{ child_category.name }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
   <p>No subdivisions!</p>
{% endif %}
{% endblock %}
