{% extends 'base.html' %} {% load staticfiles %}
{% block title %}subjects{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="index.html"><i class="icon-home2 position-left"></i> Blocks </a></li>
							<li class="active">Subjects</li>
						</ul>
					</div>
{% endblock %}
{% block content %}
<style>
.panel-body a {
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-top: auto
}
</style>
    {% for subject in subjects %}
    <div class="row">
        <div class="col-lg-4">
            <div class="panel bg-teal-400">
                       <div class="panel-body">
        <a>{{ subject.name }}</a>
        <div style="float: right;">
            <button id="Add_Question" data-subject_pk="{{ subject.pk }}" data-block_pk="{{ subject.block.pk }}" data-url="{% url 'blocks:handle_question' subject.pk %}" class='question btn btn-icon btn-success'>
                 <i class="entypo-plus"></i>
                Add Questions
            </button>
        </div>
                       </div>
            </div>
        </div>
    </div>


    {% endfor %}
{% endblock %}


{% block customscript %}
        <script src="{% static 'js/toastr.js' %}"></script>

<script type="text/javascript">
    $(function () {
        // initialize project edit modal
        $('#edit-question-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $("#Add_Question").click(function () {
            console.log("hi");
            subject_pk =  $(this).data("subject_pk");
            block_pk =  $(this).data("block_pk");
            url = $(this).data('url');

            $("#edit-question-modal").modal('show');

            $("#edit-question-modal .modal-title").html("Add a Question");
            $("#edit-question-modal .modal-body").load(url);

            var $submitButton = $("#edit-question-modal button.submit-button");
            $submitButton.off('click');
            $submitButton.click(function () {
                $("form#edit-question-form").submit();
            });
        });
    });
{% include 'blocks/modals/adjust_modal_size.js' %}
</script>
{% with modal_id='edit-question-modal' %}
    {% include "blocks/modals/common_edit_modal.html" %}
{% endwith %}
{% endblock %}