{% extends 'base.html' %}
{% block title %}institutions{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="index.html"><i class="icon-home2 position-left"></i> Fudul</a></li>
							<li class="active">Institutions</li>
						</ul>
					</div>
{% endblock %}
{% block content %}
<style>
.panel-body a {
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-top: auto
}
</style>
{% for year in years %}
    <div class="row">
        <div class="col-lg-4">
            <div class="panel bg-teal-400">
                <div class="panel-body">
                    <a href="{% url 'blocks:list_blocks' year.pk %}">{{ year.name }}</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
{% endblock %}
