Django>=1.11.4,<1.11.99
django-bootstrap3>=8.2.3,<8.2.99
django-guardian>=1.4.8,<1.4.99
django-post-office>=2.0.8,<2.0.99
django-userena>=2.0.1,<2.0.99
django-autocomplete-light>=3.2,<3.2.99
django-htmlmin>=0.10,<0.10.99
django-ckeditor==5.3.0