Django>=1.11.8,<1.11.99
django-autocomplete-light>=3.2,<3.2.99
django-bootstrap3>=8.2.3,<8.2.99
django-ckeditor>=5.3,<5.3.99
django-guardian>=1.4.8,<1.4.99
django-htmlmin>=0.10,<0.10.99
django-js-reverse>=0.8.1,<0.8.99
django-loginas>=0.3.2,<0.3.99
django-notifications-hq>=1.3,<1.3.99
django-post-office>=3.0.4,<3.0.99
django-silk>=2.0.0,<2.2.99
django-userena>=2.0.1,<2.0.99
djangorestframework>=3.7,<3.7.99
markdown>=2.6,<2.6.99
rules>=1.3,<1.3.99
