{% extends 'base_new.html' %}{% load static bootstrap3 %}
{% block title %}Fudul | Send a new message{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
{% endblock %}

{% block header_title %}
<h1>Send a new message</h1>
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mailer:list_messages' %}">Mailer</a></li>
      <li class="breadcrumb-item active">Send a new message</li>
{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <form id="message-form" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button id="send-test" type="button" class="btn btn-success float-sm-right"><i class="fa fa-flask"></i> Email me a test message</button>
            <button type="submit" class="btn btn-danger float-sm-right"><i class="ft-check"></i> Confirm</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
{% block customscript %}
{{ form.media }}

<script src="{% static 'js/toastr.js' %}"></script>

<script>
function controlTargetFields(){
  selector_to_show = null;
  selector_to_hide = null;

  target = $('#id_target').val();
  if (target == 'ALL'){
    selector_to_hide = "#id_institutions, #id_colleges, #id_batches";
  } else if (target == 'COLLEGES'){
    selector_to_show = "#id_colleges";
    selector_to_hide = "#id_institutions, #id_batches";
  } else if (target == 'INSTITUTIONS'){
    selector_to_show = "#id_institutions";
    selector_to_hide = "#id_colleges, #id_batches";
  } else if (target == 'BATCHES'){
    selector_to_show = "#id_batches";
    selector_to_hide = "#id_institutions, #id_colleges";
  } else if (target == ''){
    if ($('#id_college').val()){
      selector_to_show = "#id_colleges";
    } else if ($('#id_institutions').val()){
      selector_to_show = "#id_institutions";
    } else if ($('#id_batches').val()){
      selector_to_show = "#id_batches";
    } else {
      selector_to_hide = "#id_institutions, #id_colleges, #id_batches";
    }
  }

  $(selector_to_show).closest('.form-group').show();
  $(selector_to_show).attr('required', true);
  $(selector_to_hide).attr('required', false).val('').trigger('change');
  $(selector_to_hide).closest('.form-group').hide();
}

$(function(){
  $('#id_target').change(controlTargetFields);
  controlTargetFields();

  $("#send-test").click(function(){
    var formData = new FormData($("#message-form")[0]);

    $.ajax({
        url: "{% url 'mailer:send_test_message' %}",
        type: 'POST',
        data: {body: CKEDITOR.instances.id_body.getData(),
               subject: $("#id_subject").val(),
               from_address: $("#id_from_address").val()},
        cache: false,
        success: function (data) {
            if (data.success == 1) {
              toastr.success("A test message was just sent to you.");
            } else {
                toastr.warning(data.message);
            }
          }
    });

  });
});
</script>

{% endblock %}
