{% extends 'base_new.html' %}{% load staticfiles exam_utils %}
{% block title %}Fudul | List messages{% endblock %}

{% block header_title %}
<h1>List messages</h1>
<a href="{% url 'mailer:create_message' %}" class="btn btn-sm btn-secondary"><i class="ft-plus"></i> Add</a>

{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item active">Mailer</li>
{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <table style="width: 100%" class="table table-striped table-bordered datatable dt-responsive">
            <thead>
              <tr>
                <th>ID</th>
                <th>Subject</th>
                <th class="none">Body</th>
                <th>Target</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for message in messages %}
              <tr>
                <td>{{ message.pk }}</td>
                <td>{{ message.subject }}</td>
                <td class="none">{{ message.body|safe }}</td>
                <td>{% if message.target == 'ALL' %}{{ message.get_target_display }}{% elif message.target == 'COLLEGES' %}<ul>{% for college in message.colleges.all %}<li>{{ college.name }}</li>{% endfor %}</ul>{% elif message.target == 'INSTITUTIONS' %}<ul>{% for institution in message.institutions.all %}<li>{{ institution.name }}</li>{% endfor %}</ul>{% elif message.target == 'BATCHES' %}<ul>{% for batch in message.batches.all %}<li>{{ batch }}</li>{% endfor %}</ul>{% endif %}</td>
                <td>{{ message.get_status_display }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}
{% block customscript %}
{% include 'partials/import_datatables.html' %}
<script>
    $(function () {
        tables = $(".datatable").DataTable();
    });
</script>

{% endblock %}
