{% extends 'userena/base_userena.html' %}{% load bootstrap3 %}
{% block title %}Account setup{% endblock %}
{% block subtitle %}Your profile{% endblock %}
{% block content %}
{% bootstrap_form_errors form %}

<div class="card-body">
    <div class="card-block">
        <form enctype="multipart/form-data" method="post" class="form-horizontal form-simple" novalidate>
          {% csrf_token %}
            <fieldset class="form-group position-relative has-icon-left mb-1">
			{% bootstrap_field form.first_name show_label=False %}
			<div class="form-control-position">
					<i class="ft-user"></i>
			</div>
		    </fieldset>
            <fieldset class="form-group position-relative has-icon-left mb-1">
			{% bootstrap_field form.middle_name show_label=False %}
			<div class="form-control-position">
					<i class="ft-user"></i>
			</div>
		</fieldset>


		<fieldset class="form-group position-relative has-icon-left mb-1">
			{% bootstrap_field form.last_name show_label=False %}
			<div class="form-control-position">
					<i class="ft-user"></i>
			</div>
		</fieldset>
            <fieldset id="fullname" class="form-group position-relative has-icon-left mb-1">
			{% bootstrap_field form.display_full_name show_label=False %}
			<div class="form-control-position">
					<i class="ft-user"></i>
			</div>
		</fieldset>

         <fieldset id="nickname" class="form-group position-relative has-icon-left mb-1">
			{% bootstrap_field form.nickname show_label=False %}
			<div class="form-control-position">
					<i class="ft-user"></i>
			</div>
		</fieldset>

                <h6 class="line-on-side text-muted text-center font-small-2"><span>Your contact</span></h6>

        <fieldset class="form-group position-relative has-icon-left mb-1">

                                    <input class="form-control" id="disabledInput" disabled="" type="text" value="Main email: {{ user.email }}">
            <a style="float: right" href="{% url 'userena_email_change' user.username %}">change</a>
        </fieldset>
            {% if  user.profile.alternative_email %}
        </fieldset>
                <fieldset class="form-group position-relative has-icon-left mb-1">
                                    <input class="form-control" id="disabledInput" disabled="" type="text" value="alternative email: {{ user.profile.alternative_email }}">
                     <a style="float: right" href="{% url 'personal_email_change' user.username %}">change</a>
            </fieldset>
{% else %}

                <fieldset class="form-group position-relative has-icon-left mb-1">
                                    <input class="form-control" id="disabledInput" disabled="" type="text" value="you didn't give any alternative email">
                     <a style="float: right" href="{% url 'personal_email_change' user.username %}">Add ?</a>
            </fieldset>
{% endif %}

        <fieldset class="form-group position-relative has-icon-left mb-1">
			{% bootstrap_field form.mobile_number show_label=False %}
			<div class="form-control-position">
					<i class="ft-phone"></i>
			</div>
		</fieldset>
{##}
{#        <h6 class="line-on-side text-muted text-center font-small-2"><span>Institustion details</span></h6>#}
{##}
{#        <div id="institustion-deatils">#}
{#        <div class="form-group has-feedback has-feedback-left">#}
{#                        <select {% if form.institution.value and not form.institution.errors %}value="{{ form.institution.value }}" {% endif %} title="" id="institution-list" class="form-control">#}
{#                              <option value="" selected="" >---------</option>#}
{#                           {% for institution in institutions %}#}
{#                              <option value="{{ institution.name }}">{{ institution.name }}</option>#}
{#                           {% endfor %}#}
{#                              <option value="Other">Other</option>#}
{#                        </select>#}
{#			<div class="form-control-feedback">#}
{#				<i class="icon-library2 text-muted"></i>#}
{#			</div>#}
{#		</div>#}
{#        <input {% if form.institution.value and not form.institution.errors %}value="{{ form.institution.value }}" {% endif %}type="text" class="form-control" id="institution-text-field" placeholder="Write your institution here" style="display: none"/>#}
{#        		<div style="display: none" class="form-group has-feedback has-feedback-left">#}
{#			{% bootstrap_field form.college show_label=False %}#}
{#			<div class="form-control-feedback">#}
{#				<i class="icon-book text-muted"></i>#}
{#			</div>#}
{#		</div>#}
{#		<div style="display: none" class="form-group has-feedback has-feedback-left">#}
{#			{% bootstrap_field form.batch show_label=False %}#}
{#			<div class="form-control-feedback">#}
{#				<i class="icon-graduation2 text-muted"></i>#}
{#			</div>#}
{#		</div>#}
{#        </div>#}

            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-edit"></i> Save changes</button>
        </form>
    </div>
</div>
<div class="card-footer">
    <div class="">
        <p class="float-sm-left text-center m-0"><a href="{% url 'userena_email_change' user.username %}">Change email</a></p>
        <p class="float-sm-right text-center m-0"><a href="{% url 'userena_password_change' user.username %}">Change password</a></p>
    </div>
</div>
{% endblock %}
{% block customscript %}
<script>
    $(function() {
        empty_option = $('<option value="" selected="">---------</option>');

        batches = null;
        $('#institution-list').change(function() {
            value = $(this).val();
            if ($('#institution-list option[value=Other]:checked').length) {
                $('#institution-text-field').show();
                $('#id_college, #id_batch').closest('.form-group.has-feedback').hide();
                $('#id_college, #id_batch').prop('required', false).html('');
                $('#institution-text-field').attr('required', 'required');
            } else {
                $('#institution-text-field').hide();
                $('#institution-text-field').removeAttr('required');
                $('input[name=institution]').val(value);
                if (value.length) {
                    $.ajax({
                        url: "{% url 'get_institution_details' %}",
                        data: {
                            name: value
                        },
                        success: function(data) {
                            $("#id_college").prop('required', true).html(empty_option);
                            $("#id_college").closest('.form-group.has-feedback').show();
                            $.each(data.colleges, function(pk, name) {
                                option = $("<option>").val(pk).html(name);
                                option.appendTo("#id_college");
                            });
                            batches = data.batches;
                        }
                    });
                }
            }
        });
        $('#institution-text-field').change(function() {
            value = $(this).val();
            $('input[name=institution]').val(value);
        });
        $("#id_college").change(function() {
            value = $(this).val();
            if (value.length) {
                $("#id_batch").prop('required', true).html(empty_option);
                $("#id_batch").closest('.form-group.has-feedback').show();
                college_batches = batches[value];
                $.each(college_batches, function(index, batch_data) {
                    pk = batch_data[0];
                    name = batch_data[1];
                    option = $("<option>").val(pk).html(name);
                    option.appendTo("#id_batch");
                });
            } else {
                $("#id_batch").prop('required', false);
            }

        });

    });
</script>


{% endblock %}
