{% extends 'base.html' %}{% load staticfiles %}{% load bootstrap3 %}
{% block title %}{{ exam.name }}{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Fudul</a></li>
                                                        <li><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
                                                        {% for parent_category in exam.category.get_parent_categories %}
							<li><a href="{% url 'exams:show_category' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
                                                        {% endfor %}
                                                        <li><a href="{% url 'exams:show_category' exam.category.get_slugs %}">{{ exam.category.name }}</a></li>
                                                        <li>{{ exam.name }}</li>
                                                        <li class="active">Adding question</li>
						</ul>
					</div>
{% endblock %}
{% block content %}

<style>
.panel-body a {
    color: white;
    font-weight: bold;
    margin-top: auto
}
</style>
<div class="row">
   <div class="col-md-8">
    <div class="panel panel-flat">
						<div class="panel-heading">
							<h1 class="panel-title">Adding Question to {{ exam.name }}</h1>
						</div>
        <div class="panel-body">
        {% bootstrap_form_errors questionform %}
        <form method="post" data-exam_pk='{{ exam.pk }}' enctype="multipart/form-data" id="add-question-form" action="post">
	    {% csrf_token %}

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
                        <label class="control-label"><i class="icon-filter3 text-muted"></i> Exam type</label>
			{% bootstrap_field questionform.exam_type show_label=False %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
                        <label class="control-label"><i class="icon-stack-check text-muted"></i> Status</label>
			{% bootstrap_field questionform.status show_label=False %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
                        <label class="control-label"><i class="icon-git-branch text-muted"></i> Source</label>
			{{ questionform.sources }}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
                        <label class="control-label"><i class="icon-list-unordered text-muted"></i> Subject</label>
			{{ questionform.subjects }}

		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group">
                        <label class="control-label"><i class="icon-image2 text-muted"></i> Corresponding figure</label>
			{% bootstrap_field questionform.figure show_label=False %}

		</div>
	</div>
</div>

        {% bootstrap_form_errors revisionform %}
        <div class="form-group has-feedback has-feedback-left">
            <label class="control-label">Question Text</label>
			{% bootstrap_field revisionform.text show_label=False %}
			<div class="form-control-feedback">
				<i class="icon-pencil text-muted"></i>
			</div>
		</div>

                      <h3>Question Choices</h3>
                        {{ revisionchoiceformset.management_form }}
                        {{ revisionchoiceformset.non_form_errors.as_ul }}
                        <table id="choice_formset" class="form" style="width: 100%;">

                        {% for form in revisionchoiceformset.forms %}
                          {% if forloop.first %}
                            <colgroup>
                                <col class="col-xs-8">
                                <col class="col-xs-2">
                                <col class="col-xs-2">
                            </colgroup>
                            <thead><tr>
                              <th>Text</th>
                              <th></th>
                              <th></th>
                            </tr></thead>
                          {% endif %}
                          <tr class="form-container">
                          {% for field in form.visible_fields %}
                            <td>
                            {% if forloop.first %}
                              {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                              {% endfor %}
                            {% endif %}
                                <div class="form-group">
                              {{ field.errors.as_ul }}
                              {% bootstrap_field field show_label=False %}
                                </div>
                            </td>
                          {% endfor %}
                          </tr>
                        {% endfor %}
                        </table>

        		<div class="form-group has-feedback has-feedback-left">
            <label class="control-label">Answer explanation</label>
			{% bootstrap_field revisionform.explanation show_label=False %}
			<div class="form-control-feedback">
				<i class=" icon-info22 text-muted"></i>
			</div>
		</div>
<input name="exam_pk" type="hidden" value="{{ exam.pk }}">
{{ questionform.media }}
               <button type="submit" action ='submit'class="btn bg-teal btn-block btn-lg">Submit Question <i class="icon-circle-right2 position-right"></i></button>

        </form>
        </div>

    </div> <!--panel-->
</div> <!--col-->
<div class="col-md-4">
    <div class="panel panel-flat">
       <div class="panel-heading">
           <h1 class="panel-title">{{ exam.name }} stats</h1>
       </div>
       <div class="panel-body">
           <ul>
               <li>
                 {% if exam.subject_set.exists %}
                  <strong>Available subjects:</strong>
                  <ul>
                  {% for subject in exam.subject_set.all %}
                     <li>{{ subject.name }} ({{ subject.question_set.count }} questions)</li>
                  {% endfor %%}
                  </ul>
                 {% else %}
                  No subjects available.
                 {% endif %}
               </li>
               <li>
                 {% if exam.source_set.exists %}
                  <strong>Available sources:</strong>
                  <ul>
                  {% for source in exam.source_set.all %}
                     <li>{{ source.name }} ({{ source.question_set.count }} questions)</li>
                  {% endfor %%}
                  </ul>
                 {% else %}
                  No sources available.
                 {% endif %}
               </li>
               <li>{{ exam.get_question_count }} questions in total.</li>
           </ul>
           <div class="text-right">
               <a href="{% url 'exams:list_questions' exam.category.get_slugs exam.pk %}" class="btn btn-primary">List questions <i class="icon-arrow-right14 position-right"></i></a>
           </div>
       </div>
    </div>
</div> <!--col-->
</div> <!--row-->
{% endblock %}
{% block customscript %}
<style>
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0072d6;
    color: #fff;
    border-radius: 3px;
    cursor: default;
    float: left;
    margin-right: 2px;
    margin-top: 2px;
    padding: 7px 12px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: white;
}
</style>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>

    <script type="text/javascript">
    $(function(){

        //$('#id_status, #id_exam_type').select2();
        $('#choice_formset input[type=checkbox]').change(function(){
            $('#choice_formset input[type=checkbox]').not(this).prop('checked', false);  
        });
        $('#choice_formset div.checkbox label').ready(function(){
             $(this).html($(this).children('input'));
        });
        $("textarea").autoGrow();

        // add formset controls
        $("#choice_formset .form-container").formset({
            prefix: '{{ choice_formset.prefix }}',
            addText: 'Add a Choice',
            deleteText: 'Delete',
            addCssClass: 'add-row btn btn-xs btn-primary',
            deleteCssClass: 'delete-row btn btn-xs btn-danger',
        });

        $("form#add-question-form").submit(function (event) {
        /* stop form from submitting normally */
            event.preventDefault();
            /* get some values from elements on the page: */
            var exam_pk =  $(this).data("exam_pk");
            var formData = new FormData($(this)[0]);
            var url = "{% url 'exams:handel_question' exam.pk %}";
            /* Send the data */
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    if (data.message == "success") {
                        $(':input').not(':button, :submit, :reset, :hidden').removeAttr('checked').removeAttr('selected').not('‌​:checkbox, :radio, select').val('');

                        // show success message (using toastr)
                        toastr.options.positionClass = "toast-top-left";
                        toastr.success("The Question has been successfully added.");

                        // hide modal
                        $("#add-question-modal").modal('hide');
                         window.location.href= data.show_url;
                    } else {
                        $("#add-question-modal .modal-body").html(data);
                    }}
            });
        });
    });
    </script>

{% endblock %}
