{% extends 'base.html' %}{% load staticfiles %}{% load bootstrap3 %}{% load teams_utlis %}
{% block title %}Fudul | Add questions to {{ exam.name }}{% endblock %}
{% block sidepanel %}
    <li>
    <a href="{% url 'exams:create_session' exam.category.get_slugs exam.pk %}"><i class="icon-pencil3"></i>Start Session</a>
    </li>
    {% if editor %}
    <li>
               <a href="{% url 'exams:approve_user_contributions' exam.category.get_slugs exam.pk %}"><i class="icon-file-plus"></i> <span>User contributions</span></a>

    </li>
    {% endif %}
{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Fudul</a></li>
                                                        <li><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
                                                        {% for parent_category in exam.category.get_parent_categories %}
							<li><a href="{% url 'exams:show_category' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
                                                        {% endfor %}
                                                        <li><a href="{% url 'exams:show_category' exam.category.get_slugs %}">{{ exam.category.name }}</a></li>
                                                        <li>{{ exam.name }}</li>
                                                        <li class="active">Adding question</li>
						</ul>
					</div>
{% endblock %}
{% block content %}

<style>

.panel-body a {
    color: white;
    font-weight: bold;
    margin-top: auto
}
.panel-body li a {
    color: blue !important;
    font-weight: bold;
    margin-top: auto
}
</style>
<div class="row">
   <div class="col-md-8">
    <div class="panel panel-flat">
						<div class="panel-heading">
							<h1 class="panel-title">{% if editor %}Add {% else %} Submit{% endif %} questions to {{ exam.name }}</h1>
						</div>
        <div id="form-panel" class="panel-body">
{% include 'exams/partials/question_form.html' %}
        </div>

    </div> <!--panel-->
</div> <!--col-->
{% if editor %}
<div class="col-md-4">
    <div id="exam-stats" class="panel panel-flat">
       <div class="panel-heading">
           <h1 class="panel-title">{{ exam.name }} stats</h1>
       </div>
       <div class="panel-body">
{% include 'exams/partials/exam_stats.html' %}
       </div>
    </div>
</div>
    {% endif %}<!--col-->
</div> <!--row-->
{% endblock %}
{% block customscript %}
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>
    <script type="text/javascript">

    $(function(){

        $("form#add-question-form").submit(function (event) {
        /* stop form from submitting normally */
            event.preventDefault();
            /* get some values from elements on the page: */
            var formData = new FormData($(this)[0]);

            {% if question %}
                var url = "{% url 'exams:handle_question' exam.pk question.pk %}";
            {% else %}
                var url = "{% url 'exams:handle_question' exam.pk %}";
            {% endif %}
            /* Send the data */
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    if (data.message == "success") {
                        $(':input').not(':button, :submit, :reset, :hidden, :checkbox').removeAttr('checked').removeAttr('selected').not('‌​:checkbox, :radio, select').val('');
                        $('#id_subjects, #id_statuses, #id_parent_question').val('').trigger('change');
                        // For some reason, doing checkbox clean-up in a second steps works!
                        $('input:checkbox').removeAttr('checked');
                        // show success message (using toastr)
                        toastr.options.positionClass = "toast-top-left";
                        toastr.success("Question #" + data.question_pk + " has been successfully added. Fill another!");
                        {% if question %}
                                            window.location.href = data.show_url;
                        {% else %}
												$("#exam-stats .panel-body").html(data.stat_html);
                        {% endif %}
                    } else {
                        toastr.warning("There was an issue! " + data.message);
                        $("#form-panel").html(data);
                    }}
            });
        });
    });
        $('#choice_formset input[type=checkbox]').change(function(){
            $('#choice_formset input[type=checkbox]').not(this).prop('checked', false);
        });
        $('#choice_formset div.checkbox label').ready(function(){
             $(this).html($(this).children('input'));
        });
        $("textarea").autoGrow();

        // add formset controls
        $("#choice_formset .form-container").formset({
            prefix: '{{ choice_formset.prefix }}',
            addText: 'Add a Choice',
            deleteText: 'Delete',
            addCssClass: 'add-row btn btn-xs btn-primary',
            deleteCssClass: 'delete-row btn btn-xs btn-danger',
        });

    </script>

{% endblock %}
