{% extends 'base.html' %}{% load staticfiles %}{% load bootstrap3 %}
{% block title %}Fudul | Add questions to {{ exam.name }}{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Fudul</a></li>
                                                        <li><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
                                                        {% for parent_category in exam.category.get_parent_categories %}
							<li><a href="{% url 'exams:show_category' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
                                                        {% endfor %}
                                                        <li><a href="{% url 'exams:show_category' exam.category.get_slugs %}">{{ exam.category.name }}</a></li>
                                                        <li>{{ exam.name }}</li>
                                                        <li class="active">Adding question</li>
						</ul>
					</div>
{% endblock %}
{% block content %}

<style>
.panel-body a {
    color: white;
    font-weight: bold;
    margin-top: auto
}
</style>
<div class="row">
   <div class="col-md-8">
    <div class="panel panel-flat">
						<div class="panel-heading">
							<h1 class="panel-title">Add questions to {{ exam.name }}</h1>
						</div>
        <div id="form-panel" class="panel-body">
{% include 'exams/partials/question_form.html' %}
        </div>

    </div> <!--panel-->
</div> <!--col-->
<div class="col-md-4">
    <div class="panel panel-flat">
       <div class="panel-heading">
           <h1 class="panel-title">{{ exam.name }} stats</h1>
       </div>
       <div class="panel-body">
           <ul>
               <li>
                 {% if exam.subject_set.exists %}
                  <strong>Available subjects:</strong>
                  <ul>
                  {% for subject in exam.subject_set.all %}
                     <li>{{ subject.name }} ({{ subject.question_set.count }} questions)</li>
                  {% endfor %%}
                  </ul>
                 {% else %}
                  No subjects available.
                 {% endif %}
               </li>
               <li>
                 {% if exam.source_set.exists %}
                  <strong>Available sources:</strong>
                  <ul>
                  {% for source in exam.source_set.all %}
                     <li>{{ source.name }} ({{ source.question_set.count }} questions)</li>
                  {% endfor %%}
                  </ul>
                 {% else %}
                  No sources available.
                 {% endif %}
               </li>
               <li>{{ exam.get_question_count }} questions in total.</li>
           </ul>
           <div class="text-right">
               <a href="{% url 'exams:list_questions' exam.category.get_slugs exam.pk %}" class="btn btn-primary">List questions <i class="icon-arrow-right14 position-right"></i></a>
           </div>
       </div>
    </div>
</div> <!--col-->
</div> <!--row-->
{% endblock %}
{% block customscript %}
<style>
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0072d6;
    color: #fff;
    border-radius: 3px;
    cursor: default;
    float: left;
    margin-right: 2px;
    margin-top: 2px;
    padding: 7px 12px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: white;
}
</style>
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>
    <script type="text/javascript">
    $(function(){
        $('#exam-type select').change(function() {
        if ($('#exam-type select option[value=OSPE]:checked').length) {
            $('#figure').show();
        } else {
            $('#figure').hide();
        }
        });

        //$('#id_status, #id_exam_type').select2();
        $('#choice_formset input[type=checkbox]').change(function(){
            $('#choice_formset input[type=checkbox]').not(this).prop('checked', false);  
        });
        $('#choice_formset div.checkbox label').ready(function(){
             $(this).html($(this).children('input'));
        });
        $("textarea").autoGrow();

        // add formset controls
        $("#choice_formset .form-container").formset({
            prefix: '{{ choice_formset.prefix }}',
            addText: 'Add a Choice',
            deleteText: 'Delete',
            addCssClass: 'add-row btn btn-xs btn-primary',
            deleteCssClass: 'delete-row btn btn-xs btn-danger',
        });

        $("form#add-question-form").submit(function (event) {
        /* stop form from submitting normally */
            event.preventDefault();
            /* get some values from elements on the page: */
            var formData = new FormData($(this)[0]);
            var url = "{% url 'exams:handle_question' exam.pk %}";
            /* Send the data */
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    if (data.message == "success") {
                        $(':input').not(':button, :submit, :reset, :hidden').removeAttr('checked').removeAttr('selected').not('‌​:checkbox, :radio, select').val('');
                        $('#id_subjects, #id_status').val('').trigger('change');

                        // show success message (using toastr)
                        toastr.options.positionClass = "toast-top-left";
                        toastr.success("The question has been successfully added. Fill another!");
                    } else {
                        toastr.warning("There was an issue!");
                        $("#form-panel").html(data);
                    }}
            });
        });
    });
    </script>

{% endblock %}
