{% extends 'base.html' %}{% load staticfiles %}{% load bootstrap3 %}{% load exam_utils %}
{% block head %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.tooltipster/4.2.5/js/tooltipster.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/jquery.tooltipster/4.2.5/css/tooltipster.bundle.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    $(function() {
        $("#id_session_mode li:nth-child(1) label").tooltipster({content: "This shows the right answer with its explanation after submitting each question."})
        $("#id_session_mode li:nth-child(2) label").tooltipster({content: "This hides the right answer and explanation, and only shows them at the end."})
        $("#id_session_mode li:nth-child(3) label").tooltipster({content: "This turns off exam mode, and it will show questions with the explanation and right answer right away."})
    });
    </script>
    <style>
    .mode li
    {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }

    .tooltip-content{
      display: none;
    }

    .panel-body a {
        color: white;
        font-weight: bold;
        margin-top: auto
    }
    .panel-body li a {
        font-weight: bold;
        margin-top: auto
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #0072d6;
        color: #fff;
        border-radius: 3px;
        cursor: default;
        float: left;
        margin-right: 2px;
        margin-top: 2px;
        padding: 7px 12px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
        color: white;
    }
    h5{
        margin-top: 3%;
        margin-bottom: 2%;
    }
    </style>
{% endblock %}

{% block title %}Fudul | Start Sesstion in {{ exam.name }}{% endblock %}

{% block sidepanel %}

{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-8">
     <div class="panel panel-flat">
						<div class="panel-heading">
							<h1 class="panel-title"> {{ exam.name }} Session
                            <div style="float: right;">
                    <a id ='credits' data-url='{% url 'exams:show_credits' exam.pk %}' class="btn btn-primary btn-xs"><i class="  icon-medal-star position-left"></i> Credits</a>
                        </div></h1>
						</div>
        <div id="form-panel" class="panel-body">
            <script src="{% static 'bootstrap/bootstrap-toggle-master/js/bootstrap2-toggle.min.js'%}"></script>
            <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-toggle-master/css/bootstrap2-toggle.min.css' %}">

{% bootstrap_form_errors sessionform %}
<form method="post" id="start-session-form">
{% csrf_token %}
    <h5>Session mode:</h5>
    <div id="session-mode" class='mode'>
      {{ sessionform.session_mode }}
    </div>

    <h5> Type of Questions: </h5>
    <div class='mode'>
      {{ sessionform.question_filter }}
    </div>


    <div class="row">
            <div class="col-xs-6">

                <div class="form-group has-feedback has-feedback-left">
                    <label class="control-label"><h5>Subjects</h5></label>
                    <select id="subjects-select" class="alpaca-control form-control" name="">
                    <option value="">------</option>
                    <option value="All">All</option>
                    <option value="Custom">Custom</option>
                    </select>
                    <div class="form-control-feedback">

                    </div>
                </div>

                <div id="all-subjects-options" style="display: none">
                   {{ sessionform.subjects }}
                    <div class="form-control-feedback">
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group has-feedback has-feedback-left">
                    <label class="control-label"><h5>Sources</h5></label>
                    <select id="sources-select" class="alpaca-control form-control" name="">
                    <option value="">------</option>
                    <option value="All">All</option>
                    <option value="Custom">Custom</option>
                    </select>
                    <div class="form-control-feedback">
    {#icon is here #}
                    </div>
                </div>

                <div id="all-sources-options" style="display: none">
                    {{ sessionform.sources }}
                </div>
            </div>
        </div>

    <div class="form-group has-feedback has-feedback-left">
        <label class="control-label"><h5>Exam type:</h5></label>
            {% bootstrap_field sessionform.exam_types show_label=False  %}
    </div>

    <label class="control-label"><h5>Number of Questions</h5></label>
    <div class="row">
    <div class="col-xs-8 col-sm-6">

    <div class="col-xs-5 col-sm-4">
              <div class="form-group has-feedback has-feedback-left">
    {% bootstrap_field sessionform.number_of_questions show_label=False  %}
                <div class="form-control-feedback">
        <i class="icon-pencil text-muted"></i>
          </div>
    </div>
    </div>

    <div style=" margin-top: 3%" class="col-xs-3 col-sm-2">
    <strong>/ {{ question_count }} </strong>
    </div>
    </div>
    </div>
          <button type="submit" class="btn bg-primary btn-block btn-lg">Start Session <i class="icon-circle-right2 position-right"></i></button>


    <input name="exam_pk" type="hidden" value="{{ exam.pk }}">
    {{ sessionform.media }}

    </form>
     </div>
        </div> <!--panel-->
    </div><!--col-->
    {% if editor %}
    <div class="col-md-4">
        <div id="exam-stats" class="panel panel-flat">
        <div class="panel-heading">
            <div style="margin-bottom: 20px;" class="text-right">
                <a class="btn btn-primary" href="{% url 'exams:add_question' exam.category.get_slugs exam.pk %}">Add question <i class=" icon-file-plus position-left"></i></a>
           </div>
            <h5> Your latest sessions:</h5>
        </div>
           <div class="panel-body">

               <ul>
                   {% for session in sessions %}



                       <div class="panel panel-body">
								<div class="media">
									<div class="media-left">
                                    {% if session.get_score %}
                                    <a  {% if session.has_finished %}href=""{% else %} href="{% url 'exams:show_session' session.exam.category.get_slugs session.exam.pk session.pk %}">{% endif %}><button class="btn btn-primary btn-icon btn-rounded">{{ session.get_score }}%</button></a>
                                    {% else %}
                                     <button class="btn btn-primary btn-icon btn-rounded">0.0%</button>
                                    {% endif %}
									</div>

									<div class="media-body">
										<h6 class="media-heading">#{{ session.pk }}</h6>
										<span class="text-muted"></span>
									</div>

									<div class="media-right media-middle">

									</div>
								</div>
							</div>

                   {% endfor %}
               </ul>
               <br>

           </div>
        </div>
    </div> <!--col-->
    {% endif %}
</div> <!--row-->

{% endblock %}
{% block customscript %}
{{ sessionform.media }}
        <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>
    <script type="text/javascript">
    $(function() {


        $('#subjects-select').change(function() {
            if ($('#subjects-select option[value=All]:checked').length) {
                $('#all-subjects-options').hide();
                $('#all-subjects-options select option').prop('selected', true);
            } else {
                $('#all-subjects-options').show();
                $('#all-subjects-options select option').prop('selected', false);
            }
        });
        $('#sources-select').change(function() {
            if ($('#sources-select option[value=All]:checked').length) {
                $('#all-sources-options').hide();
                $('#all-sources-options select option').prop('selected', true);
            } else {
                $('#all-sources-options').show();
                $('#all-sources-options select option').prop('selected', false);

            }

        });

                // initialize project edit modal
        $('#show-credit-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $("#credits").click(function () {
            var url = $(this).data('url');
            $("#show-credit-modal").modal('show');
            $("#show-credit-modal .modal-title").html("Some of the great contributors");
            $("#show-credit-modal .modal-body").load(url);

        });
    });

{% include 'exams/modals/adjust_modal_size.js' %}
</script>
{% with modal_id='show-credit-modal' no_footer=True %}
    {% include "exams/modals/common_edit_modal.html" %}
{% endwith %}

{% endblock %}
