{% extends 'base.html' %}{% load staticfiles %}{% load bootstrap3 %}{% load teams_utlis %}

{% block title %}Fudul | Start Sesstion in {{ exam.name }}{% endblock %}
{% block breadcrumb %}

{% endblock %}
{% block content %}

<style>
.panel-body a {
    color: white;
    font-weight: bold;
    margin-top: auto
}
.panel-body li a {
    font-weight: bold;
    margin-top: auto
}
</style>
<div class="row">
   <div class="col-md-8">
    <div class="panel panel-flat">
						<div class="panel-heading">
							<h1 class="panel-title">{{ exam.name }} Session</h1>
						</div>
        <div id="form-panel" class="panel-body">
            <script src="{% static 'bootstrap/bootstrap-toggle-master/js/bootstrap2-toggle.min.js'%}"></script>
            <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-toggle-master/css/bootstrap2-toggle.min.css' %}">

{% bootstrap_form_errors sessionform %}
<form method="post" enctype="multipart/form-data" id="start-session-form" action="post">
{% csrf_token %}
    <b> Include Questions from Previous Sessions :  </b>
<div>
    <label class="checkbox-inline">
      {% bootstrap_field sessionform.unsloved show_label=False %}
    </label>
    <label class="checkbox-inline">
{% bootstrap_field sessionform.marked show_label=False %}    </label>
    <label class="checkbox-inline">
{% bootstrap_field sessionform.incoorect show_label=True %}
    </label>
</div>

    <label class="control-label"><b>Number of Questions</b></label>
    <div class="row">
    <div class="col-xs-8 col-sm-6">
    <div class="col-xs-5 col-sm-4">
              <div class="form-group has-feedback has-feedback-left">
{% bootstrap_field sessionform.number_of_questions show_label=False  %}
                <div class="form-control-feedback">
				<i class="icon-pencil text-muted"></i>
			    </div>
		</div>
    </div>

    <div style=" margin-top: 3%" class="col-xs-3 col-sm-2">
    <strong>/ {{ question_count }} </strong>
    </div>
    </div>
    <div class="col-xs-8 col-sm-6">
         <div class="form-group has-feedback has-feedback-left">
    {% bootstrap_field sessionform.solved show_label=False %}
         </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6"><div>
        <div class="form-group has-feedback has-feedback-left">
            <label class="control-label"><b>Subjects</b></label>
            <select id="subjects-select" class="alpaca-control form-control" name="">
            <option value="">------</option>
            <option value="All">All</option>
            <option value="Custom">Custom</option>
            </select>
			<div class="form-control-feedback">
            <i class="icon-pencil text-muted"></i>
            </div>

        </div>

        <div id="all-subjects-options" style="display: none">
           {{ sessionform.subjects }}
            <div class="form-control-feedback">
            </div>
        </div></div></div>
    <div class="col-xs-6"><div>         <div class="form-group has-feedback has-feedback-left">
            <label class="control-label"><b>Sources</b></label>
            <select id="sources-select" class="alpaca-control form-control" name="">
            <option value="">------</option>
            <option value="All">All</option>
            <option value="Custom">Custom</option>
            </select>
            <div class="form-control-feedback">
            <i class="icon-git-branch text-muted"></i>
            </div>
        </div>

        <div id="all-sources-options" style="display: none">
            {{ sessionform.sources }}
                <div class="form-control-feedback">
                </div>
		</div>
 </div></div>
</div>




        <div class="form-group has-feedback has-feedback-left">
            <label class="control-label"><b>Exam type</b></label>
{% bootstrap_field sessionform.exam_types show_label=False  %}
		</div>
<input name="exam_pk" type="hidden" value="{{ exam.pk }}">
{{ sessionform.media }}
               <button type="submit" action ='submit' class="btn bg-primary btn-block btn-lg">Start Session <i class="icon-circle-right2 position-right"></i></button>

</form>
    </div>
    </div> <!--panel-->
    </div><!--col-->
    {% if user.is_superuser or user|is_editor %}
    <div class="col-md-4">
        <div id="exam-stats" class="panel panel-flat">
           <div class="panel-body">
               {% include 'exams/partials/exam_stats.html' %}
               <br>
              <a  href="{% url 'exams:add_question' exam.category.get_slugs exam.pk %}"><button class="btn bg-primary btn-block btn-lg">Add questions to {{ exam.name }} <i class="icon-circle-right2 position-right"></i></button></a>
           </div>
        </div>
    </div> <!--col-->
    {% endif %}
</div> <!--row-->

{% endblock %}
{% block customscript %}
{{ sessionform.media }}
<style>
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0072d6;
    color: #fff;
    border-radius: 3px;
    cursor: default;
    float: left;
    margin-right: 2px;
    margin-top: 2px;
    padding: 7px 12px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: white;
}
</style>
        <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>
    <script type="text/javascript">
    $(function() {

        $('#start-session-form input[type=checkbox]').bootstrapToggle();
        $('#start-session-form input[type=checkbox]').parent().attr('style',"width: 70px !important; height: 40px !important;");


        $("form#start-session-form").submit(function (event) {
        /* stop form from submitting normally */
            event.preventDefault();
            /* get some values from elements on the page: */
            var formData = new FormData($(this)[0]);
            var url = "{% url 'exams:handle_session' exam.pk %}";
            /* Send the data */
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    if (data.message == "success") {
                        // show success message (using toastr)
                        toastr.options.positionClass = "toast-top-left";
                        window.location.href= data.show_url;
                    } else {
                        toastr.warning("There was an issue! " + data.message);
                        $("#form-panel").html(data);
                    }
                }
            });
        });

        $('#subjects-select').change(function() {
            if ($('#subjects-select option[value=All]:checked').length) {
                $('#all-subjects-options').hide();
                $('#all-subjects-options select option').prop('selected', true);
            } else {
                $('#all-subjects-options').show();
                $('#all-subjects-options select option').prop('selected', false);

            }
        });
       // $("#id_sources, #id_subjects").multiselect({includeSelectAllOption: true});
        $('#sources-select').change(function() {
            if ($('#sources-select option[value=All]:checked').length) {
                $('#all-sources-options').hide();
                $('#all-sources-options select option').prop('selected', true);
            } else {
                $('#all-sources-options').show();
                $('#all-sources-options select option').prop('selected', false);

            }

        });
    });


</script>
{% endblock %}
