{% extends 'base_new.html' %}{% load static exam_utils account_utils core_utils %}
{% block title %}Fudul | {{ contributor|get_user_credit:user }}'s contributions{% endblock %}

{% block header_title %}
<h1>{{ contributor|get_user_credit:user }}'s contributions</h1>
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item"><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
      <li class="breadcrumb-item active">{{ contributor|get_user_credit }}'s contributions</li>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
      <div class="card-block">
        <table style="width: 100%" class="table table-striped table-bordered datatable dt-responsive">
          <thead>
            <tr>
              <th>Revision id</th>
              <th>Question id</th>
              <th>Exam</th>
              <th>Change summary</th>
              <th>Date of Submission</th>
            </tr>
          </thead>
          <tbody>
            {% for revision in revisions %}
            <tr data-url="{% url 'exams:show_revision_comparison' revision.pk %}" data-pk="{{ revision.pk }}">
              <td>{{ revision.pk }}</td>
              <td><a href="{% url 'exams:list_revisions' revision.question.exam.category.get_slugs revision.question.exam.pk revision.question.pk %}">{{ revision.question.pk }}</a></td>
              <td>{{ revision.question.exam.name }}</td>
              <td>{{ revision.change_summary|urlize_target_blank|linebreaksbr|default:"N/A" }}</td>
              <td data-order="{{ revision.submission_date|date:'U' }}">{{ revision.submission_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>


{% endblock %}

{% block customscript %}
{% include 'partials/import_datatables.html' %}

<script>
    $(function () {
      $(".datatable").DataTable({
            order: [[ 4, "desc" ]]
      });
    });
</script>

{% with row_selector="tr td:not(:nth-child(2))" %}
  {% include 'exams/partials/initialize_show_revision.html' %}
{% endwith %}

{% endblock %}
