{% extends 'base.html' %}{% load staticfiles %}
{% block title %}Revisions{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Fudul</a></li>
                                                        <li><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
                                                        {% for parent_category in exam.category.get_parent_categories %}
							<li><a href="{% url 'exams:show_category' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
                                                        {% endfor %}
                                                        <li><a href="{% url 'exams:show_category' exam.category.get_slugs %}">{{ exam.category.name }}</a></li>
                                                        <li><a href="{% url 'exams:add_question' exam.category.get_slugs exam.pk %}">{{ exam.name }}</a></li>
                                                        <li class="active">List revisions</li>
						</ul>
					</div>
{% endblock %}
{% block content %}
    <style>
    .panel-body p{
        margin-left: 5%;
    }
    .panel-body b{
        margin-left: 3%;
    }
    </style>
    <div class="panel panel-flat">
    <div class="panel-heading">
							<h5 style="font-weight: bolder" class="panel-title">Question Revisions</h5>
<a href="{% url 'exams:submit_revision' question.subjects.first.exam.category.get_slugs question.subjects.first.exam.pk question.pk %}"><button style="float: right;margin-right: 3%" type="button" class="btn btn-info btn-rounded btn-xs"><i class=" icon-quill4 position-left"></i> Edit</button></a><a class="heading-elements-toggle"><i class="icon-more"></i></a>
						</div>
        <div class="panel-body">
        <p class="content-group-lg">
            <b>Subject:</b>{% for subject in question.subjects.all %}{{ subject.name }}{% endfor %}
            <b>Source:</b>{% for source in question.source.all %}{{ source.name }}{% endfor %}
            {% if question.get_ultimate_latest_revision.figure %}<a href="{{ question.get_ultimate_latest_revision.figure.url }}"><b>illustration</b></a>{% endif %}
            <b>Exam Type:</b>{{ question.get_exam_type_display }}
            <b> Status:</b>{{ question.get_status_display }}
        </p>
  <table id="revisions" class="display datatable dt-responsive">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Submitter</th>
                                <th>Date of Submission</th>
                                <th>Approval Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for revision in question.revision_set.all %}
                            <tr class="show-revision" data-url="{% url 'exams:show_question' revision.pk %}" data-revision_pk="{{ revision.pk }}">
                            <td>{{ revision.pk }}</td>
                            <td>{{ revision.submitter }}</td>
                            <td data-order="{{ revision.submission_date|date:'U' }}">{{ revision.submission_date }}</td>
                            <td>{% if revision.is_approved %} Approved {% else %} Not Approved{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
    </table>
        </div>
    </div>


{% endblock %}
{% block customscript %}
	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<style type="text/css">
    th, td{
        text-align: left;
    }
</style>
	<script>
    $(function(){
        $("#revisions").dataTable({
            order: [[ 1, "desc" ]]
        });

    });
</script>
<script src="{% static 'js/toastr.js' %}"></script>

<script type="text/javascript">
    $(function () {
        // initialize project edit modal
        $('#show-revision-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $(".show-revision").click(function () {
            revision_pk =  $(this).data("revision_pk");
            url = $(this).data('url');

            $("#show-revision-modal").modal('show');

            $("#show-revision-modal .modal-title").html("Question Revision");
            $("#show-revision-modal .modal-body").load(url);
            $("#show-revision-modal .modal-header").addClass('bg-primary')

        });
    });
{% include 'exams/modals/adjust_modal_size.js' %}
</script>
{% with modal_id='show-revision-modal' no_footer=True %}
    {% include "exams/modals/common_edit_modal.html" %}
{% endwith %}
{% endblock %}
