{% extends 'base.html' %}{% load staticfiles %}
{% block title %}Fudul | Incomplete Question list of {{ exam.name }}{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Fudul</a></li>
                                                        <li><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
                                                        {% for parent_category in exam.category.get_parent_categories %}
							<li><a href="{% url 'exams:show_category' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
                                                        {% endfor %}
                                                        <li><a href="{% url 'exams:show_category' exam.category.get_slugs %}">{{ exam.category.name }}</a></li>
                                                        <li><a href="{% url 'exams:add_question' exam.category.get_slugs exam.pk %}">{{ exam.name }}</a></li>
                                                        <li class="active">List questions</li>
						</ul>
					</div>
{% endblock %}

{% block content %}


<div class="form-group" style="float: right;">
														<select id='status' name="select" class="form-control input-xs">
                                                            <option value="">-----------</option>
						                                    <option value="incomplete-q">Incomplete Questions</option>
						                                    <option value="writing">Writing Error</option>
						                                    <option value="unsolved">Unsloved Question</option>
						                                    <option value="incomplete-a">Incomplete Answer</option>

						                                </select>
													</div>

<h1>Questions Per Status list of {{ exam.name }}</h1>
{# incomplete questions #}
    <div class="panel panel-flat" style="display: none;" id="incomplete-questions">
    <div class="panel-heading">
							<h5 class="panel-title">Incomplete Questions<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
                <div class="panel-body">
                {% with questions=exam.get_questions_with_incomplete_question %}
                {% include 'exams/partials/incomplete_questions_table.html' %}
                {% endwith %}
        </div>
    </div>


{# writing error  #}

    <div class="panel panel-flat"  style="display: none;" id="writing-error">
    <div class="panel-heading">
							<h5 class="panel-title">Writing Error<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
        <div class="panel-body">
            {% with questions=exam.get_questions_with_writing_error %}
                {% include 'exams/partials/incomplete_questions_table.html' %}
                {% endwith %}
        </div>
    </div>

{# incomplete answers #}

    <div class="panel panel-flat"  style="display: none;" id="incomplete-answer">
    <div class="panel-heading">
							<h5 class="panel-title">Incomplete Answer<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
        <div class="panel-body">
                {% with questions=exam.get_questions_with_incomplete_answers %}
                {% include 'exams/partials/incomplete_questions_table.html' %}
                {% endwith %}
        </div>
    </div>


{# Unsloved question  #}

    <div class="panel panel-flat"  style="display: none;" id="unsloved-question">
    <div class="panel-heading">
							<h5 class="panel-title">Unsloved Question<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
        <div class="panel-body">
            {% with questions=exam.get_unsolved_questions %}
                {% include 'exams/partials/incomplete_questions_table.html' %}
            {% endwith %}
        </div>
    </div>

{% endblock %}

{% block customscript %}

<div class="modal fade" id="confirm-delete-question-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete question</h4>
      </div>
      <div class="modal-body">
          Are you sure you want to delete this question?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="delete-question" type="button" class="btn btn-danger confirm">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<style type="text/css">
    th, td{
        text-align: left;
    }
</style>
	<script>
    $(function() {
        $(".datatable").dataTable({
            "order": [[4, "asc"]]
        });
        $('tbody').on('click','button.confirm-delete-question',function () {
            var url = $(this).data('url');
            var pk = $(this).data('pk');
            $("#delete-question").data('url', url).data('pk', pk);
            $("#confirm-delete-question-modal").modal('show');
        });
				$("#delete-question").click(function () {
		        /* get some values from elements on the page: */
		        var url = $(this).data('url');
						var pk = $(this).data('pk');
		        /* Send the data using post */
		        var posting = $.post(url);
		        posting.done(function (data) {
		            if (data.success == 1) {
		                // show success message (using toastr)
		                toastr.options.positionClass = "toast-top-left";
		                toastr.info("Question was successfuly deleted");

										row = tables.row("tr[data-pk=" +  pk + "]");
										row.remove().draw(false);
										$("#confirm-delete-question-modal").modal('hide');
		            } else {
		                toastr.error(data.message);
		            }
		        });
		    });
        $('#status').change(function () {
            if ($('#status option[value=incomplete-q]:checked').length) {
                $('#incomplete-questions').show();
                $('#writing-error').hide();
                $('#incomplete-answer').hide();
                $('#unsloved-question').hide();
            }else if ($('#status option[value=incomplete-a]:checked').length) {
                $('#incomplete-questions').hide();
                $('#writing-error').hide();
                $('#incomplete-answer').show();
                $('#unsloved-question').hide();
            }else if ($('#status option[value=unsolved]:checked').length) {
                $('#incomplete-questions').hide();
                $('#writing-error').hide();
                $('#incomplete-answer').hide();
                $('#unsloved-question').show();
            }else if ($('#status option[value=writing]:checked').length) {
                $('#incomplete-questions').hide();
                $('#writing-error').show();
                $('#incomplete-answer').hide();
                $('#unsloved-question').hide();
            }else{
                $('#incomplete-questions').hide();
                $('#writing-error').hide();
                $('#incomplete-answer').hide();
                $('#unsloved-question').hide();
            }
        });
    });
</script>
{% endblock %}