{% extends 'base.html' %}{% load staticfiles %}
{% block title %}Fudul | Question list of {{ exam.name }}{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Fudul</a></li>
                                                        <li><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
                                                        {% for parent_category in exam.category.get_parent_categories %}
							<li><a href="{% url 'exams:show_category' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
                                                        {% endfor %}
                                                        <li><a href="{% url 'exams:show_category' exam.category.get_slugs %}">{{ exam.category.name }}</a></li>
                                                        <li><a href="{% url 'exams:add_question' exam.category.get_slugs exam.pk %}">{{ exam.name }}</a></li>
                                                        <li class="active">Question list</li>
						</ul>
					</div>
{% endblock %}
{% block content %}

<div style="float: right;">
<a href="{% url 'exams:add_question' exam.category.get_slugs exam.pk %}" class="btn btn-primary btn-xs"><i class=" icon-file-plus position-left"></i> Add question</a>
</div>
<h1>Question list of {{ exam.name }}</h1>

    <div class="panel panel-flat">
    <div class="panel-heading">
							<h5 class="panel-title">Approved questions<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
        <div class="panel-body">
        <table id="approved" class="display datatable dt-responsive">
{% with questions=exam.get_approved_questions %}
{% include 'exams/partials/question_table_content.html' %}
{% endwith %}
            </table>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-heading">
							<h5 class="panel-title">Pending questions<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
        </div>
        <div class="panel-body">
            <table id="pending" class="display datatable dt-responsive">
{% with questions=exam.get_pending_questions %}
{% include 'exams/partials/question_table_content.html' %}
{% endwith %}
            </table>
        </div>
    </div>

{% endblock %}
{% block customscript %}

<div class="modal fade" id="confirm-delete-question-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete question</h4>
      </div>
      <div class="modal-body">
          Are you sure you want to delete this question?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="delete-question" type="button" class="btn btn-danger confirm">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>
<style type="text/css">
    th, td{
        text-align: left;
    }
</style>
<script src="{% static 'js/toastr.js' %}"></script>
<script>
    $(function () {
        tables = $("#approved, #pending").DataTable({
            "order": [[ 4, "asc" ]]
        });

        // initialize project edit modal
        $('#show-question-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $('tbody').on('click','tr td:not(:last-child)',function () {
            url = $(this).closest('tr').data('url');

            $("#show-question-modal").modal('show');
            $("#show-question-modal .modal-title").html("Full Question");
            $("#show-question-modal .modal-body").load(url);

        });
        $('tbody').on('click','button.confirm-delete-question',function () {
            var url = $(this).data('url');
            var pk = $(this).data('pk');
            $("#delete-question").data('url', url).data('pk', pk);
            $("#confirm-delete-question-modal").modal('show');
        });
				$("#delete-question").click(function () {
		        /* get some values from elements on the page: */
		        var url = $(this).data('url');
						var pk = $(this).data('pk');
		        /* Send the data using post */
		        var posting = $.post(url);
		        posting.done(function (data) {
		            if (data.success == 1) {
		                // show success message (using toastr)
		                toastr.options.positionClass = "toast-top-left";
		                toastr.info("Question was successfuly deleted");

										row = tables.row("tr[data-pk=" +  pk + "]");
										row.remove().draw(false);
										$("#confirm-delete-question-modal").modal('hide');
		            } else {
		                toastr.error(data.message);
		            }
		        });
		    });
    });
{% include 'exams/modals/adjust_modal_size.js' %}
</script>
{% with modal_id='show-question-modal' no_footer=True %}
    {% include "exams/modals/common_edit_modal.html" %}
{% endwith %}
{% endblock %}
