{% extends 'base_new.html' %}{% load static %}
{% block title %}Fudul | {{ exam.name }}: List questions ({{ list_name }}){% endblock %}
{% block head %}
<style type="text/css">
tbody tr td{
    cursor:pointer;
}
tbody tr td:last-child{
    cursor:initial;
}

    .bg-secondary{
        text-align: center;
        font-weight: bolder;
        color: white;
    }
</style>
{% endblock %}

{% block header_title %}
<h1>{{ exam.name }}: List questions ({{ list_name }})</h1>
{% with is_list_active=True %}
{% include 'exams/partials/exam_editor_buttons.html' %}
{% endwith %}
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item"><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
			{% for parent_category in exam.category.get_parent_categories %}
			<li class="breadcrumb-item"><a href="{% url 'exams:show_category' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
			{% endfor %}
			<li class="breadcrumb-item"><a href="{% url 'exams:show_category' exam.category.get_slugs %}">{{ exam.category.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'exams:create_session' exam.category.get_slugs exam.pk %}">{{ exam.name }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'exams:list_questions' exam.category.get_slugs exam.pk %}">List</a></li>
      <li class="breadcrumb-item active">{{ list_name }}</li>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
          <div class="card-block">
{% with exam_pk=exam.pk category_slug=exam.category.get_slugs %}
{% include 'exams/partials/question_table.html' %}
{% endwith %}
          </div>
        </div>
    </div>
{% endblock %}
{% block customscript %}
{% include 'partials/import_datatables.html' %}
<script src="{% static 'js/toastr.js' %}"></script>
<script>
    $(function () {
        tables = $(".datatable").DataTable({
					  "columnDefs": [
				    { "orderable": false, "targets": 4 }
					],
            "order": [[ 3, "desc" ]]
        });

        // initialize project edit modal
        $('#show-question-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $('tbody').on('click','tr td:not(:last-child)',function () {
            row_node = tables.row(this).node();
            url = $(row_node).data('url');
            title_part = tables.row(this).cell('.question-id').data();
            $("#show-question-modal").modal('show');
            $("#show-question-modal .modal-title").html("Question #" + title_part);
            $("#show-question-modal .modal-body").load(url);

        });
				$deleteConfirmationButton = $("#confirm-delete-question-modal .submit-button")
        $('tbody').on('click','.confirm-delete-question',function () {
            var url = $(this).data('url');
            var pk = $(this).data('pk');
            $deleteConfirmationButton.data('url', url).data('pk', pk);
            $("#confirm-delete-question-modal").modal('show');
        });
				$deleteConfirmationButton.click(function () {
				        /* get some values from elements on the page: */
				        var url = $(this).data('url');
								var pk = $(this).data('pk');
				        /* Send the data using post */
				        var posting = $.post(url);
				        posting.done(function (data) {
				            if (data.success == 1) {
				                // show success message (using toastr)
				                toastr.options.positionClass = "toast-top-left";
				                toastr.info("Question was successfuly deleted");

												row = tables.row("tr[data-pk=" +  pk + "]");
												row.remove().draw(false);
												$("#confirm-delete-question-modal").modal('hide');
				            } else {
				                toastr.error(data.message);
				            }
				        });
				    });



	    $('#show-mnemonic-modal').modal({
          keyboard: false,
          backdrop: 'static',
          show    : false,
        });
        $('.review-mnemonics').on('click',function () {
            var question_pk = $(this).data('pk');
            url = "{% url 'exams:contribute_mnemonics' %}?" + $.param({question_pk: question_pk})
            title_part = tables.row(this).cell('.question-id').data();
            $("#show-mnemonic-modal").modal('show');
            $("#show-mnemonic-modal .modal-title").html("Mnemonics of question #" + title_part);
            $("#show-mnemonic-modal .modal-body").load(url);

        });
    });

{% include 'exams/modals/adjust_modal_size.js' %}
</script>
{% with modal_id='show-question-modal' no_footer=True %}
    {% include "exams/modals/common_modal_v4.html" %}
{% endwith %}
{% with modal_id='confirm-delete-question-modal' modal_title="Delete question" is_small=True modal_content="Are you sure you want to delete this question?" %}
    {% include "exams/modals/common_modal_v4.html" %}
{% endwith %}
{% with category_pk=exam.category.pk  parent_category_pk=exam.category.parent_category.pk %}
  {% include 'exams/partials/dynamic_sidebar.html' %}
{% endwith %}
{% with category_pk=exam.category.pk  parent_category_pk=exam.category.parent_category.pk %}
  {% include 'exams/partials/dynamic_sidebar.html' %}
{% endwith %}
{% with modal_id='show-mnemonic-modal' no_footer=True %}
    {% include "exams/modals/common_modal_v4.html" %}
{% endwith %}
{% endblock %}
