{% extends 'base_new.html' %}{% load static exam_utils %}
{% block title %}Fudul | {{ exam.name }}: List duplicates ({{ duplicate_containers.count }}){% endblock %}
{% block header_title %}
<h1>{{ exam.name }}: List duplicates ({{ duplicate_containers.count }})</h1>
{% with is_list_active=True %}
{% include 'exams/partials/exam_editor_buttons.html' %}
{% endwith %}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
<style>
.revision-text{
  white-space: pre-wrap;
  font-weight: 700;
}

.choices li[data-is-right="true"]{
  font-weight: 700;
}

.text-to-remove{
  text-decoration: line-through;
}

.text-to-add{
  color: green;
}
</style>

{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item"><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
      <li class="breadcrumb-item"><a href="{% url 'exams:show_tool_index' %}">Editor's tools</a></li>
      <li class="breadcrumb-item active">Duplicates</li>
{% endblock %}

{% block content %}
      <div class="card border">
        <div class="card-body">
          <div class="card-block">
            <p>Welcome to the <strong>Duplication Catcher</strong>.  This tool scans the question bank once everyday to look for questions that are similar.  You can either keep one verion of the question or ignore it.  By choosing to keep one version, all sources, subjects, exam types, corrections, and answers get merged, all with one click!</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="card-block" id="duplicates">
            {% if not duplicate_containers.exists %}
            <p>No duplicates for {{ exam.name }}.  Get back to the <a href="{% url 'exams:list_questions' category_slugs exam.pk %}">list of questions</a>.</p>
            {% endif %}
          </div>
          <div class="card-block">
            <button id="show-more" style="display: none" class="btn btn-primary"><i class="ft-more-horizontal"></i>Show 50 more</button>
          </div>
        </div>
    </div>
{% endblock %}
{% block customscript %}

<script src="{% static 'js/toastr.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/3.5.0/diff.min.js" integrity="sha384-kFZay1kUVYthe5mwHuE5+fwtA9nn7agG8/7SX2zx1KlJChIy7D1mTEf33nKpDb+d" crossorigin="anonymous"></script>

<script>
function getFormattedDiff(first_text, second_text){
  var diff = JsDiff.diffChars(first_text, second_text),
      part_text = "",
      formatted_text = "";

  diff.forEach(function(part){
    // green for additions, red for deletions
    // grey for common parts
    var span_class = part.added ? 'text-to-add' :
      part.removed ? 'text-to-remove danger darken-4' : '';
    if (span_class){
      part_text = '<span class="' + span_class + '">' + part.value + '</span>';
    } else {
      part_text = part.value;
    }
    formatted_text += part_text;
  });
  return formatted_text;
}

function constructChoices(question){
  var output = '<ul class="choices" type="A">';
  for (choice_index in question.latest_revision.choice_set){
    var choice = question.latest_revision.choice_set[choice_index];
    output += "<li data-is-right='" + choice.is_right.toString() + "'>" + choice.text + "</li>"
  }
  output += '</ul>'
  return output
}

function constructDuplicates(duplicate_containers){
  var output = "";
  for (dc_index in duplicate_containers){
    var duplicate_container = duplicate_containers[dc_index];
    if (duplicate_container.primary_question.latest_revision === null){
      continue
    }
    var button_output = '<div class="col-sm-3 align-self-center border-left text-center"><div class="btn-group-vertical"><button class="btn btn-success duplicate-decision" data-duplicate-container-pk="' + duplicate_container.id + '" data-question-pk="' + duplicate_container.primary_question.id + '" data-action="keep"><i class="ft-check-square"></i> Keep question #' + duplicate_container.primary_question.id + '</button>';

    output += '<div class="card duplicate-container border-bottom"><div class="card-body row"><div class="col-sm-9"><h3 class="text-bold-600">Report #' + duplicate_container.id + '</h3><h5 class="text-bold-600"><a href="' + duplicate_container.primary_question.get_list_revision_url + '">Question #' + duplicate_container.primary_question.id + '</a></h5><p class="font-small-3">(<abbr class="primary-question">Primary question;</abbr> ' + duplicate_container.primary_question.get_answering_user_count + ' users answered)</p><p class="revision-text">' + duplicate_container.primary_question.latest_revision.text + '</p>'

    output += constructChoices(duplicate_container.primary_question)

    for (d_index in duplicate_container.duplicate_set){
      var duplicate = duplicate_container.duplicate_set[d_index];
      if (duplicate.question.latest_revision === null){
        continue
      }
      var formatted_text = getFormattedDiff(duplicate_container.primary_question.latest_revision.text, duplicate.question.latest_revision.text);
      output += '<h5 class="text-bold-600"><a href="' + duplicate.question.get_list_revision_url + '">Question #' + duplicate.question.id + '</a></h5>'
      output += '<p class="font-small-3">(<strong class="danger darken-4">' + duplicate.get_percentage + '% similar to the primary question</strong>; ' +  duplicate.question.get_answering_user_count + ' users answered)</p><p class="revision-text">' + formatted_text + '</p>';
      output += constructChoices(duplicate.question)
      button_output += '<button class="btn btn-success duplicate-decision" data-duplicate-container-pk="' + duplicate_container.id + '" data-question-pk="' + duplicate.question.id + '" data-action="keep"><i class="ft-check-square"></i> Keep question #' + duplicate.question.id + '</button>'
    }

    // Close the question column
    output += "</div>"

    // Close the button outout
    button_output +=  '<button class="btn btn-warning duplicate-decision" data-duplicate-container-pk="' + duplicate_container.id + '" data-action="decline"><i class="ft-delete"></i> Ignore</button></div></div>'

    output += button_output;
    output += "</div></div>"
  }

  var element = document.getElementById('duplicates')
  element.innerHTML += output;
}


function fetchDuplicates(cursor){
  $.ajax({method: 'get',
          url: "{% url 'duplicate-list' %}",
          data: {format: 'json',
                 cursor: cursor,
                 exam_pk: {{ exam.pk }} },
          success: function(data){
            if (data.next){
              var next_cursor = new URL(data.next).searchParams.get("cursor");
              $("#show-more").data('cursor', next_cursor).show();
            } else {
              $("#show-more").attr('disabled', 'disabled');
            }
            constructDuplicates(data.results);
          }
  });
}

$(function () {
  $('[data-toggle="tooltip"]').tooltip();
  $('#duplicates').tooltip({selector: '.primary-question', title: "The primary question is the question against which other duplicate questions are compared.  This is notable when there were more than one duplicate question."})

  $("#show-more").click(function(){
    var next_cursor = $(this).data('cursor');
    fetchDuplicates(next_cursor)
  });

  fetchDuplicates();

  $('#duplicates').on('click', 'button.duplicate-decision', function(){
    $button = $(this)
    var action = $button.data('action');
    var question_pk = $button.data('question-pk');
    var container_pk = $button.data('duplicate-container-pk');
    $button.closest('.duplicate-container').remove();
    $.ajax({url: '{% url "exams:handle_duplicate" %}',
            data: {action: action, question_pk: question_pk, container_pk: container_pk},
            method: 'POST',
            success: function(data){
              if (data.success == 1){
                toastr.success("Report #" + container_pk + " was successfully handled.")
              } else {
                toastr.error(data.message)
              }
            }
    });
  });
});

{% include 'exams/modals/adjust_modal_size.js' %}
</script>
{% with category_pk=exam.category.pk  parent_category_pk=exam.category.parent_category.pk %}
  {% include 'exams/partials/dynamic_sidebar.html' %}
{% endwith %}
{% endblock %}
