{% extends 'base_new.html' %}{% load static exam_utils %}

{% block title %}Fudul | My performance in {{ exam.name }} {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
{% endblock %}

{% block header_title %}
<h1>My performance in {{ exam.name }}</h1>
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item"><a href="{% url 'exams:show_my_performance' %}">Performance</a></li>
			<li class="breadcrumb-item active">{{ exam.name }}</li>
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
		<div class="card-block">
			<div class="chart-container mb-2" style="height: 300px; width: 400px; max-width: 100%;">
				<canvas id="performance-chart"></canvas>
			</div>
{% if exam.subject_set.exists %}
			<h2>Performance per {{ exam.name }} subject</h2>
      <p>Here, you can see your perfromance in <strong><a href="{% url 'exams:create_session' exam.category.get_slugs exam.pk %}">{{ exam.name }}</a></strong> in detail.  <em>"Correct"</em> counts questions correctly answered by you at least one time.  <em>"Incorrect"</em> counts questions incorrectly answered by you and never answed correctly.  <em>"Skipped"</em> counts questions that were shown, but skipped and never answered by you.  Deleted sessions are <strong>not</strong> counted.</p>
			<table style="width: 100%;" class="datatable table table-striped table-bordered">
			  <thead>
			    <tr>
			      <th class="all">Subject</th>
			      <th data-toggle="tooltip">Performance</th>
            <th>Actions</th>
			    </tr>
			  </thead>
			  <tbody>
			    {% for subject in exam.subject_set.all %}
            {% get_user_question_stats subject user 'total' as total_count %}
            {% get_user_question_stats subject user 'incorrect' as incorrect_count %}
            {% get_user_question_stats subject user 'skipped' as skipped_count %}
			      <tr>
			        <td>{{ subject.name }} <span data-toggle="tooltip" title="Number of questions answered." class="font-small-2">({{ total_count }})</span></td>
              {% with target=subject total=total_count %}
                {% include 'exams/partials/performance_column.html' %}
              {% endwith %}
              <td>
                <div class="dropdown">
                  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ft-settings"></i> Actions</button>
                  <div class="dropdown-menu">
                    <button data-url="{% url 'exams:create_session_automatically' exam.category.get_slugs exam.pk %}" data-subject-pk="{{ subject.pk }}" data-selector="ALL" class="dropdown-item automatic-creation"><i class="ft-play"></i> Examine on <strong>all</strong> {{ subject.name }} questions <span class="font-small-2">({{ subject.question_set.approved.count }})</span></button>
                    {% if skipped_count %}
                      <button data-url="{% url 'exams:create_session_automatically' exam.category.get_slugs exam.pk %}" data-subject-pk="{{ subject.pk }}" data-selector="SKIPPED" class="dropdown-item automatic-creation"><i class="ft-rotate-ccw"></i> Re-examine on <strong>skipped</strong> {{ subject.name }} questions <span class="font-small-2">({{ skipped_count }})</span></button>
                    {% endif %}
                    {% if incorrect_count %}
                      <button data-url="{% url 'exams:create_session_automatically' exam.category.get_slugs exam.pk %}" data-subject-pk="{{ subject.pk }}" data-selector="INCORRECT" class="dropdown-item automatic-creation"><i class="ft-rotate-ccw"></i> Re-examine on <strong>incorrect</strong> {{ subject.name }} questions <span class="font-small-2">({{ incorrect_count }})</span></button>
                    {% endif %}
                  </div>
                </div>
              </td>
            </tr>
			    {% endfor %}
			  </tbody>
			</table>
{% endif %}
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->
{% endblock %}
{% block customscript %}
<script src="{% static 'js/toastr.js' %}"></script>
{% include 'partials/import_datatables.html' %}

{% include 'exams/partials/performance_chart.html' %}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
    $("table.datatable").DataTable({paging: false, info: false});

    $('tbody').on('click', '.automatic-creation',function () {
        var selector = $(this).data('selector');

        if (selector == 'ALL'){
           _paq.push(['trackEvent', 'show-my-performance', 'create-automatic-session', 'automatic-all-in-subject']);
        } else if (selector == 'SKIPPED'){
           _paq.push(['trackEvent', 'show-my-performance', 'create-automatic-session', 'automatic-skipped-in-subject']);
        }  else if (selector == 'INCORRECT'){
           _paq.push(['trackEvent', 'show-my-performance', 'create-automatic-session', 'automatic-incorrect-in-subject']);
        }

        // Disable all automatic creation buttons upon firing one.
        $('.automatic-creation').addClass('disabled').attr('disabled', true);

        var url = $(this).data('url');
        var subject_pk = $(this).data('subject-pk');
        toastr.success("A new session is being created.  Give us a second!");
        $.ajax({url: url,
                data: {selector: selector, subject_pk: subject_pk},
                method: 'POST',
                success: function(data){
                    if (data.success == 1) {
                        window.location.href = data.url;
                    } else {
                      toastr.error(data.message);
                    }
                }
        });
    });

});
</script>

{% endblock %}
