{% extends 'base_new.html' %}{% load exam_utils %}
{% block title %}Fudul | {% if category %}{{ category.name }}{% else %}Exlpore exams{% endif %}
{% endblock %}

{% block header_title %}
	{% if category %}
	<h1>{{ category.name }}</h1>
	{% elif is_indicators_active %}
	<h1>Category indicators</h1>
	{% else %}
	<h1>Explore exams</h1>
	{% endif %}
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
			{% if is_indicators_active and category %}
			<li class="breadcrumb-item"><a href="{% url 'show_indicator_index' %}">Indicators</a></li>
      <li class="breadcrumb-item"><a href="{% url 'list_category_indicators' %}">Category indicators</a></li>
			{% elif is_indicators_active and not category %}
			<li class="breadcrumb-item"><a href="{% url 'show_indicator_index' %}">Indicators</a></li>
			<li class="breadcrumb-item active">Category indicators</li>
			{% elif category %}
      <li class="breadcrumb-item"><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
			{% else %}
			<li class="breadcrumb-item active">Exams</li>
			{% endif %}
			{% for parent_category in category.get_parent_categories %}
			<li class="breadcrumb-item"><a href="{% url 'exams:show_category' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
			{% endfor %}
			{% if category %}
			<li class="breadcrumb-item active">{{ category.name }}</li>
			{% endif %}
{% endblock %}

{% block content %}

{% if not is_indicators_active and exams.exists %}
<div class="row">
{% for exam in exams %}
	<div class="col-xl-4 col-md-6 col-sm-12">
		<div class="card height-150">
			<div class="card-header">
				<h4 class="card-title"><a href="{% url 'exams:create_session' category.get_slugs exam.pk %}">{{ exam.name }}</a></h4>
				{% if exam|can_user_edit:user %}
				<div class="heading-elements">
					{% include 'exams/partials/exam_editor_buttons.html' %}
				</div>
				{% endif %}

			</div>
			<div class="card-body">
				<div class="card-block text-muted">
					<div class="card-text">
							<span>{{ exam.question_set.available.count }} questions</span>
					</div>
				</div>
			</div>
		</div>
	</div><!--col-->
{% endfor %}
</div><!--row-->
{% endif %}
{% if subcategories.exists %}
<div class="row">
	{% for subcategory in subcategories %}
	<div class="col-xl-4 col-md-6 col-sm-12">
		<div class="card">
			<div class="card-body">
				<div class="card-block">
					<h4 class="card-title"><a href="{% url 'exams:show_category' subcategory.get_slugs %}">{{ subcategory.name }}</a></h4>
				</div>
			</div>
		</div>
	</div><!--col-->
	{% endfor %}
</div><!--row-->

{% endif %}
{% if not subcategories.exists and not exams.exists %}
   <p>No subdivisions!</p>
{% endif %}
{% endblock %}


{% block customscript %}
{% if is_browse_active %}
	{% with category_pk=category.pk  parent_category_pk=category.parent_category.pk %}
		{% include 'exams/partials/dynamic_sidebar.html' %}
	{% endwith %}
{% endif %}
{% endblock %}
