{% extends 'base.html' %}{% load staticfiles %}{% load bootstrap3 %}

{% block title %}Fudul | Start Sesstion in {% endblock %}
{% block breadcrumb %}
    					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Fudul</a></li>
    							<li><a href="{% url 'exams:show_previous_sessions' %}"> Scores</a></li>
                        </ul>
                        </div>


{% endblock %}
{% block content %}
    <div class="panel panel-flat">
    <div class="panel-heading">
					<h4>Previous Sessions:</h4>
    </div>
    <div class="panel-body">
 <table id="scores" class="display datatable dt-responsive">

    <thead>
    <tr>
        <th>Score</th>
        <th>ID</th>
        <th>Exam</th>
        {#        <th>Date</th>#}
        <th>Subjects</th>
{#        <th>Score</th>#}
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for session in sesstions %}
    <tr data-pk="{{ revision.question.pk }}">
    {% if session.get_score %}
    <td>  <button class="btn btn-primary btn-icon btn-rounded">{{ session.get_score }}%</button></td>
    {% else %}
    <td>  <button class="btn btn-primary btn-icon btn-rounded">0.0%</button></td>
    {% endif %}
    <td>{{ session.pk }}</td>
    <td>{{ session.exam.name }}</td>
{#    <td></td>#}
    {% if session.subjects.count == 1 %}
    <td>{{ session.subjects.first.name }}</td>
    {% else %}
    <td>Multiple</td>
    {% endif %}
{#    <td>{{ session.get_correct_answer_count }}/ {{ session.number_of_questions }}</td>#}
    {% if not session.has_finished %}
        <td> <a href="{% url 'exams:show_session' session.exam.category.get_slugs session.exam.pk session.pk %}"> Resume </a></td>
{#        <button class="btn btn-primary btn-icon btn-rounded"><i class="icon-play4"></i></button>#}
    {% else %}
        <td><a href="{% url 'exams:show_session_results' session.exam.category.get_slugs session.exam.pk session.pk %}"> View Results </a></td>
    {% endif %}
  </tr>

{% endfor %}
</tbody>
            </table>
    </div>

{% endblock %}
{% block customscript %}
    	<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'js/datatables/responsive/css/responsive.dataTables.min.css' %}">
	<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/responsive/js/dataTables.responsive.min.js' %}"></script>

    <script>
    $(function () {
        $("#scores").DataTable({
            "order": [[ 2, "desc" ]]
        });
    });
    </script>
{% endblock %}