{% extends 'base_new.html' %}{% load staticfiles exam_utils %}

{% block title %}Fudul | My performance in {{ exam.name }} {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'stack/vendors/css/charts/chartist.css' %}">
{% endblock %}

{% block header_title %}
<h1>My performance in {{ exam.name }}</h1>
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item"><a href="{% url 'exams:show_my_performance' %}">Performance</a></li>
			<li class="breadcrumb-item active">{{ exam.name }}</li>
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
		<div class="card-block">
			<div class="chart-container mb-2" style="height: 300px; width: 400px; max-width: 100%;">
				<canvas id="performance-chart"></canvas>
			</div>
{% if exam.subject_set.exists %}
			<h2>Performance per {{ exam.name }} subject</h2>
      <p>Here, you can see your perfromance in <strong>{{ exam.name }}</strong> in detail.  <em>"Correct"</em> counts questions correctly answered by you at least one time.  <em>"Incorrect"</em> counts questions incorrectly answered by you and never answed correctly.  <em>"Skipped"</em> counts questions that were shown, but skipped and never answered by you.  Deleted sessions are <strong>not</strong> counted.</p>
			<table style="width: 100%;" class="datatable table table-striped table-bordered">
			  <thead>
			    <tr>
			      <th class="all">Subject</th>
			      <th data-toggle="tooltip">Performance</th>
			    </tr>
			  </thead>
			  <tbody>
			    {% for subject in exam.subject_set.all %}
            {% get_user_question_stats subject user 'correct' percent=True as correct_percentage %}
            {% get_user_question_stats subject user 'incorrect' percent=True as incorrect_percentage %}
            {% get_user_question_stats subject user 'skipped' percent=True as skipped_percentage %}
            {% get_user_question_stats subject user 'total' as total_count %}
            {% get_user_question_stats subject user 'correct' as correct_count %}
            {% get_user_question_stats subject user 'incorrect' as incorrect_count %}
            {% get_user_question_stats subject user 'skipped' as skipped_count %}
			      <tr>
			        <td>{{ subject.name }} <span class="font-small-2"> ({{ total_count }})</span></td>
              <td class="text-center" data-order="{{ correct_percentage }}" data-toggle="tooltip" data-html="true" title="<strong>Correct:</strong> {{ correct_percentage }}% ({{ correct_count }} questions)<br><strong>Incorrect:</strong> {{ incorrect_percentage }}% ({{ incorrect_count }} questions)<br><strong>Skipped:</strong> {{ skipped_percentage }}% ({{ skipped_count }} questions)<br>">
                <span class="font-small-2"> ({{ correct_percentage }}% correct)</span>
                <div class="progress progress-sm">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{  correct_percentage }}%" aria-valuenow="{{ correct_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-danger" role="progressbar" style="width: {{ incorrect_percentage }}%" aria-valuenow="{{ incorrect_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-warning" role="progressbar" style="width: {{ skipped_percentage }}%" aria-valuenow="{{ skipped_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
			      </tr>
			    {% endfor %}
			  </tbody>
			</table>
{% endif %}
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->
{% endblock %}
{% block customscript %}
{% include 'partials/import_datatables.html' %}

{% include 'exams/partials/performance_chart.html' %}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
    $("table.datatable").DataTable({paging: false, info: false});
});
</script>

{% endblock %}
