{% extends 'base.html' %}{% load staticfiles %}{% load bootstrap3 %}

{% block title %}Fudul | Start Sesstion in {% endblock %}
{% block breadcrumb %}

{% endblock %}
{% block content %}
 <div id="start-session">

</div>
{% endblock %}
{% block customscript %}
 <script type="text/javascript">
 $(document).ready(function(){
     action = $(this).data("action");
      $.ajax({
          url: "{% url 'exams:start_session_ajax' session.pk %}",
          type: 'POST',
          data: {action: action},
          cache: false,
          success: function (data) {
              if (data.success) {
                              console.log('hi');


              }


             }
      });
 });
 </script>
{% endblock %}