{% extends 'base.html' %}{% load staticfiles %}{% load bootstrap3 %}

{% block title %}Fudul | Start Sesstion in {% endblock %}
{% block breadcrumb %}

{% endblock %}
{% block content %}
<style>

label {
display: block
}

</style>
    <div class="panel panel-flat">
<div class="page-header page-header-default" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
									<div class="page-header-content">
										<div class="page-title">
											<h5>
												 <span class="text-semibold">{{ session.exam.name }}</span> - Session
												<small class="display-block">
                                                    <input type="checkbox" name="marked" value="marked" id="marked">
                                                    <i for="marked" class="icon-flag7"></i>
                                                </small>
											</h5>
                      <button id="explain" data-question-pk="{{ question.pk }}" class="btn btn-success">
                        Explain!
                        <i class="icon-circle-right2 position-right"></i>
                      </button>
                      <small class="display-block">

                      </small>
										<a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

										<div class="heading-elements">
											<div class="progress">
												<div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 55%">
													<span class="sr-only">55% Complete (success)</span>
												</div>
											</div>
										</div>
									</div>

								</div>
 <div class="panel-body">
  <div id="start-session">
        <div id="form-panel" class="panel-body">
            {% include 'exams/partials/session-question.html' %}
        </div>

  </div>

     <div id="end-session">

      </div>
    </div>
    </div>
{% endblock %}
{% block customscript %}
            <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>

 <script type="text/javascript">
var score = 0;
function slected_choice(){
    console.log('it was answered');
    toastr.options.positionClass = "toast-top-center";
    choice_pk = $('input[name=question-choice]:checked').data("choice_pk");
    question_pk =$("input[name=question-choice]:checked").data("question_pk");
    session_pk = $("input[name=question-choice]:checked").data("session_pk");
        $.ajax({
            url: "{% url 'exams:check_answer' %}",
            type: 'POST',
            data: {choice_pk: choice_pk,question_pk:question_pk,session_pk:session_pk},
            cache: false,
            success: function (data) {
                console.log('the function has been called');
                if (data.success) {
                    if (data.right) {
                        alert('You Got the right answer.');
                        score+= 1;
                    }
                    else {
                        alert('No');
                    }
                    if ( $('input[name="marked"]').is(':checked') ) {
                        data.marked = true

                    }
                    else {
                       data.marked = false
                    }
                    $("button#explain").data("question-pk", 'next_question_pk')
                    $("#start-session .panel-body").html(data.stat_html);
                    $(':input').not(':button, :submit, :reset, :hidden').removeAttr('checked').removeAttr('selected').not('‌​ :radio, select').val('');

                }
            }
        });
    }
function skipped_answer(){
    console.log('it was skipped');
    toastr.options.positionClass = "toast-top-center";
    question_pk =$("#question-container").data("question_pk");
    session_pk = $("#question-container").data("session_pk");
        $.ajax({
            url: "{% url 'exams:check_answer' %}",
            type: 'POST',
            data: {question_pk:question_pk,session_pk:session_pk},
            cache: false,
            success: function (data) {
                console.log('the function has been called');
                if (data.success) {
                    alert('it was skipped');
                    if ( $('input[name="marked"]').is(':checked') ) {
                        data.marked = true

                    }
                    else {
                       data.marked = false
                    }
                    $("button#explain").data("question-pk", 'next_question_pk')
                    $("#start-session .panel-body").html(data.stat_html);
                    $(':input').not(':button, :submit, :reset, :hidden').removeAttr('checked').removeAttr('selected').not('‌​ :radio, select').val('');

                }
            }
        });
    }


$(function(){
  $("button#explain").click(function () {
      $("#explanation-modal").modal('show');
      var question_pk = $(this).data('question-pk');
      var url = "{% url 'exams:submit_explanation' %}?"  + $.param({question_pk: question_pk});

      $("#explanation-modal .modal-body").load(url, function(){
        $("#explanation-form").data('url', url);
      });

      var $submitButton = $("#explanation-modal button.submit-button");

      // Unbind any handlers previously attached to the submit button
      // This is necessary to avoid multiple submissions of the form
      $submitButton.off('click');
      $submitButton.click(function () {
          $("#explanation-form").submit();
      });
  });
});
</script>

{% with modal_id='explanation-modal' modal_title="Contribute!" %}
    {% include "exams/modals/common_edit_modal.html" %}
{% endwith %}
{% endblock %}
