{% extends 'base.html' %}{% load staticfiles bootstrap3 %}
{% block title %}Editing question #{{ revision.question.pk }}{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Fudul</a></li>
                                                        <li><a href="{% url 'exams:list_meta_categories' %}">Exams</a></li>
                                                        {% for parent_category in exam.category.get_parent_categories %}
							<li><a href="{% url 'exams:show_category' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
                                                        {% endfor %}
                                                        <li><a href="{% url 'exams:show_category' exam.category.get_slugs %}">{{ exam.category.name }}</a></li>
                                                        <li><a href="{% url 'exams:add_question' exam.category.get_slugs exam.pk %}">{{ exam.name }}</a></li>
                                                        <li class="active">Editing question</li>
						</ul>
					</div>
{% endblock %}
{% block content %}
<h1>Editing question #{{ revision.question.pk }}</h1>
{% include 'exams/partials/question_form.html' %}

{% endblock %}
{% block customscript %}
<style>
.panel-body a {
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-top: auto
}
</style>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script type="text/javascript">
    $(function(){
        $('#exam-type select').change(function() {
        if ($('#exam-type select option[value=OSPE]:checked').length) {
            $('#figure').show();
        } else {
            $('#figure').hide();
        }
        });

        $('#choice_formset input[type=checkbox]').change(function(){
            $('#choice_formset input[type=checkbox]').not(this).prop('checked', false);
        });
        $("textarea").autoGrow();
        // add formset controls
        $("#choice_formset .form-container").formset({
            prefix: '{{ revisionchoiceformset.prefix }}',
            addText: 'Add a Choice',
            deleteText: 'Delete',
            addCssClass: 'add-row btn btn-xs btn-primary',
            deleteCssClass: 'delete-row btn btn-xs btn-danger',
        });
        });
    </script>

{% endblock %}
