<!DOCTYPE html>{% load static %}{% load exam_utils %}
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/colors.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/visualization/d3/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/forms/styling/switchery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/ui/moment/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/pickers/daterangepicker.js' %}"></script>

	<script type="text/javascript" src="{% static 'limitless/assets/js/core/app.js' %}"></script>
	<!-- /theme JS files -->
{% include 'partials/piwik.html' %}
{% block head %}
{% endblock %}
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar bg-primary navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'index' %}"></a>

			<ul class="nav navbar-nav visible-xs-block">
                <li><a href="{% url 'userena_signout' %}"><i class=" icon-switch"></i></a></li>
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>
{% if user.is_authinticated %}
		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<span>{{ user.profile.first_name|default:user.username }}</span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="{% url 'userena_password_change' user.username %}"><i class="icon-reset"></i> Change password</a></li>
						<li><a href="{% url 'userena_signout' %}"><i class="icon-switch2"></i> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
{% endif %}
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar bg-primary-600 sidebar-main">
				<div class="sidebar-content">
                                        <div class="text-center">
                                        <a href="{% url 'index' %}"><img style="width: 150px; max-width: 70%;" src="{% static "img/logo.png" %}" alt=""></a>
                                        </div>
					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
							<div class="media">
								<div class="media-body text-center">
									<span class="media-heading text-semibold">Welcome, {{ user.profile.first_name|default:user.username }}!</span>
								<form type="get" action="{% url 'exams:search' %}" accept-charset="utf-8">
                                    <div class="form-group has-feedback has-feedback-left">
														<input  type="search" id="q" name="q"  class="form-control" placeholder="Search by ID or Text" >
														<div class="form-control-feedback">
															<i class="icon-search4 text-size-base"></i>
														</div>
									</div>                                </form>

                                </div>

							</div>
						</div>
					</div>
					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main -->
								<li>
									<a href="{% url 'exams:list_meta_categories' %}"><i class="icon-stack-check"></i> <span>Explore exams!</span></a>
								</li>
                            <li>
									<a href="{% url 'exams:list_previous_sessions' %}"><i class="icon-drawer3"></i> <span>Previous sessions</span></a>
								</li>
                            {% if exam %}
                                {% if exam.category|is_editor:user %}
                                    <li>
									<a class="has-ul"><i class="icon-puzzle2"></i> <span>Questions and Revisions</span></a>
									<ul class="hidden-ul">
                                    <li>
                                        <a href="{% url 'exams:add_question' exam.category.get_slugs exam.pk %}"><i class="icon-pen-plus"></i> <span>Add Question</span></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'exams:list_questions' exam.category.get_slugs exam.pk %}"><i class="icon-list2 position-right"></i><span>List questions</span> </a>
                                    </li>
                                    <li>
                                       <a href="{% url 'exams:approve_user_contributions' exam.category.get_slugs exam.pk %}"><i class="icon-file-plus"></i> <span>User contributions</span></a>
                                    </li>
									</ul>
								</li>

                                     {% else %}
                                    <li>
                                <a href="{% url 'exams:add_question' exam.category.get_slugs exam.pk %}"><i class="icon-database-add"></i> <span>Submit A Question</span></a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'exams:list_contributions' %}"><i class="icon-file-plus"></i> <span>My contributions</span></a>
                            </li>
                            <li>
                            <a href="{% url 'exams:create_session' exam.category.get_slugs exam.pk %}"><i class="icon-pencil3"></i>Start Session</a>
                            </li>

                            {% endif %}
                                {% block sidepanel %}
                                {% endblock %}
{% if user.is_superuser %}
								<li>
									<a href="{% url 'exams:show_my_performance' %}"><i class="icon-chart"></i> <span>My performance</span></a>
								</li>
								<li>
									<a href="{% url 'exams:list_category_indicators' %}"><i class="icon-pie-chart2"></i> <span>Category indicators</span></a>
								</li>
								<li>
									<a href="{% url 'admin:index' %}"><i class="icon-shield2"></i> <span>Superuser Admin</span></a>
								</li>
{% endif %}
								<li>
									<a href="{% url 'editor_admin:index' %}"><i class="icon-power2"></i> <span>Editor Admin</span></a>
								</li>

                                <li>
									<a href="{% url 'about' %}"><i class="icon-info3"></i> <span>About <em>Fudul</em></span></a>
								</li>

{#								<li>#}
{#									<a href="#"><i class="icon-copy"></i> <span>Menu item</span></a>#}
{#								</li>#}
							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				<div class="page-header page-header-default">
{% block breadcrumb %}{% endblock %}
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">
{% block content %}{% endblock %}
					</div>
					<!-- /dashboard content -->


					<!-- Footer -->
					<div style="margin-bottom: 10px;" class="text-muted pull-right">
						 بُني بأيدٍ طلابية. <a href="https://github.com/Zahajamaan/Fudulbank" target="_blank">حقّك في النسخ مكفول</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
	{% block customscript %}
    {% endblock %}

</body>
</html>
