{% extends 'base.html' %}{% load admin_urls %}
{% block title %}Fudul | Home page{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li class="active"><i class="icon-home2 position-left"></i> Home</li>
						</ul>
					</div>
{% endblock %}
{% block content %}
<div class="text-center">
<p style="font-size: 1.3em" class="text-center">Welcome to <em>Fudul</em>, the comprehensive, collective, free-of-charge <strong>question bank</strong> built by students!</p>

<a href="{% url 'exams:list_meta_categories' %}" class="btn btn-primary btn-float btn-float-lg"><i class="icon-stack-check"></i> Explore exams</a>

{% if user.is_superuser %}
<a href="{% url 'admin:index' %}" class="btn btn-primary btn-float btn-float-lg"><i class="icon-shield2"></i> Superuser admin</a>
{% endif %}
<a href="{% url 'editor_admin:index' %}" class="btn btn-primary btn-float btn-float-lg"><i class="icon-power2"></i> Editor Admin</a>
<a href="{% url 'about' %}" class="btn btn-primary btn-float btn-float-lg"><i class="icon-info3"></i> About <em>Fudul</em></a>
</div>
{% endblock %}
