<!DOCTYPE html>{% load static humanize %}
<html lang="en">
{% include 'partials/call_out.html' %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fudul</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'stylish-porfolio/css/stylish-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'stylish-porfolio/css/custom.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% include 'partials/piwik.html' %}
</head>

<body>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-3">

            <h1>Fudul</h1>
            <h3>A comprehensive, collective, free-of-charge <strong>question bank</strong> built by students</h3>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-8 col-sm-offset-2">
                        <div style="margin-top: 20px;" class="animated bounceIn main-stat">
                           <p>Hosting <strong>{{ question_count|intcomma }} questions</strong> that were <strong>answered <span data-number="{{ answer_count }}" id="answer-count">{{ answer_count|intcomma }}</span> times</strong>!</p>
                        <a href="{% url 'userena_signin' %}" class="btn btn-lg btn-success"><i class="fa fa-sign-in"></i> Login</a><br>
                        <a style="margin-top: 5px;" href="{% url 'userena_signup' %}" class="btn btn-lg btn-success"><i class="fa fa-user-plus"></i> Register</a>
                        </div>
        </div>
                        </div>
                    </div>
            </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <h2 class="text-center">Our Mission</h2>
                    <hr class="small">
<p>We believe in the crucial importance of review questions in gaining knowledge, assessing progress and passing exams.  Review questions are an indispensable component of the body of knowledge that must be built collectively and be made available to all people for free.  We believe in your right to access knowledge.</p>
                        <blockquote>
                           <p>“Information is power. But like all power, there are those who want to keep it for themselves. <em>[...]</em> We need to take information, wherever it is stored, make our copies and share them with the world.”</p>
                           <footer>Aaron Swartz in the <cite title="Guerilla Open Access Manifesto"><a target="_blank" href="https://archive.org/stream/GuerillaOpenAccessManifesto/Goamjuly2008_djvu.txt">Guerilla Open Access Manifesto</a></cite></footer>
                        </blockquote>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>What Fudul Offers</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">



                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-money fa-stack-1x"></i>
                                <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                </span>
<!--                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>-->
                                <h4>
                                    <strong>Free access</strong>
                                </h4>
                                <p>Access to questions is available at no cost!</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-heart fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>High quality</strong>
                                </h4>
                                <p>Questions are collected, edited and improved to the best quality!</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-beer fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Easy-to-use</strong>
                                </h4>
                                <p>Access to questions is well-tested to be easy and smooth</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-trophy fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Towards excellence</strong>
                                </h4>
                                <p>Proven to lead to excellant results in exams!</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Fudul Bank</strong>
                    </h4>
                    <p>Riyadh
                        <br>Saudi Arabia</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:support@fudulbank.com">support@fudulbank.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a target="_blank" href="https://twitter.com/fudulbank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://t.me/fudulbank"><i class="fa fa-telegram fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted"> بُني بأيدٍ طلابية. <a target="_blank">حقّك في النسخ مكفول</a></p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js" integrity="sha384-3hgmRzlUcHmQydKeUIr2tGXvJZs5gK6VZ+LVpzUkHtkRo2A8fuCMdfN3vw2h9DPJ" crossorigin="anonymous"></script>

    <!-- Custom Theme JavaScript -->
    <script>

    answer_countup = null;
    timer = null;
    function updateCouner(){
      // If count up is already running, stop!
      if (answer_countup){
        return
      }
      $.ajax({url: '{% url "exams:count_answers" %}',
              success: function(data){
                // Make sure no duplicate countup is set.
                if (answer_countup){
                  return
                }
                var current_count = $("#answer-count").data('number');
                var new_count = data.answer_count;
      					var answer_countup = setInterval(function() {
      						if (current_count == new_count) {
      							clearInterval(answer_countup);
                    answer_countup = null;
      						} else {
                    current_count++;
                    var formatted_number = numeral(current_count).format('0,0');
                    $('#answer-count').data('number', current_count).html(formatted_number);
                  }
      					}, 50);
              }
      });
    }

    $(function() {
      $(window).on('ready focus', function(){
        if (!timer){
          timer = setInterval(updateCouner, 1000);
        }
      });

      $(window).on('blur', function(){
        if (timer){
          clearInterval(timer);
          timer = null;
        }
      });


      // Scrolls to the selected menu item on the page
        $('a[href*="#"]:not([href="#"],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    </script>

</body>

</html>
