{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block breadcrumb %}

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}"><i class="icon-home2 position-left"></i> Home</a></li>
							<li class="active">Dashboard</li>
						</ul>
					</div>
{% endblock %}
{% block content %}
<style>
.panel-body a {
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-top: auto;

}
</style>
 {% for institution in institutions %}
    <div class="row">
        <div class="col-lg-4">
            <div class="panel bg-teal-400">
                       <div class="panel-body">
            <a href={% url "blocks:list_colleges" institution.pk %}>{{ institution.name }}</a>
                          </div>
            </div>
        </div>
    </div>

 {% endfor %}
{% endblock %}
