{% extends 'base_new.html' %}{% load static account_utils %}
{% block title %}Fudul | {{ exam.name }} indicators{% endblock %}

{% block header_title %}
<h1>{{ exam.name }} indicators</h1>
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item"><a href="{% url 'show_indicator_index' %}">Indicators</a></li>
			<li class="breadcrumb-item active">{{ exam.name }}</li>
{% endblock %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-1.31.2.min.js" integrity="sha384-pEbvKAAHroDnU/rb2+IiUrslRtrsAGTaQNZjaFWCY3d/h5FlaWxqMkhh8MX4m0dQ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js" integrity="sha384-8xuC0/BWqiPX72DT7LJqj+QiH5eYVT5KsUOewB/DmXi7KPPEdt4Td3xu3lg+slER" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}
<div class="card">
	<div class="card-body">
		<div class="card-block">
      <p>These two graphs track <strong>active users</strong> (defined as: users who created at least one new session) and <strong>average answers</strong> (defined as: answers submitted with a choice, i.e. not skipped, divided by number of active users).</p>
      <div id="exam-plot" style="width:100%; height:600px;"></div>
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->
{% endblock %}
{% block customscript %}
<script>
  Plotly.d3.csv("{% static csv_filename %}", function(err, rows){
      function unpack(rows, key, is_int) {
        if (is_int){
          return rows.map(function(row) { return parseInt(row[key]); });
        } else {
          return rows.map(function(row) { return row[key]; });
        }
      }

      function get_hover(count_field, change_field){
        return rows.map(function(row) {
          end_date = moment(row['date'])
          start_date = moment(row['date']).subtract(30, 'days')
          end_date_str = end_date.format('DD MMM')
          start_date_str = start_date.format('DD MMM')
          return row[count_field] + ' (' + row[change_field].trim() + '%)<br>' + start_date_str + '‒' + end_date_str
        });
      }

      var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'Active users in previous 30 days',
        x: unpack(rows, 'date'),
        y: unpack(rows, 'user_count'),
        hoverinfo: 'text+name',
        hovertext: get_hover('user_count', 'user_change'),
      }

      var trace2 = {
        type: "scatter",
        mode: "lines",
        name: 'Avg answers in previous 30 days',
        x: unpack(rows, 'date'),
        y: unpack(rows, 'answer_avg'),
        hoverinfo: 'text+name',
        hovertext: get_hover('answer_avg', 'answer_change'),
      }

      data = [trace1, trace2];

      Plotly.newPlot('exam-plot', data, {title: "{{ exam.name}} plot"});
  })
    </script>

{% endblock %}
