{% extends 'base_new.html' %}{% load static bootstrap3 %}
{% block title %}Fudul | {{ category.name }} indicators{% endblock %}

{% block header_title %}
<h1>{{ category.name }} indicators</h1>
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item"><a href="{% url 'show_indicator_index' %}">Indicators</a></li>
      <li class="breadcrumb-item"><a href="{% url 'list_category_indicators' %}">Category indicators</a></li>
			{% for parent_category in category.get_parent_categories %}
			<li class="breadcrumb-item"><a href="{% url 'show_category_indicators' parent_category.get_slugs %}">{{ parent_category.name }}</a></li>
			{% endfor %}
			<li class="breadcrumb-item active">{{ category.name }}</li>
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
		<div class="card-block">
				<table class="table table-striped table-bordered datatable dt-responsive">
				    <thead>
				        <tr>
				            <th data-priority="1">Exam</th>
                    <th data-priority="1">Total questions</th>
				            <th data-toggle="tooltip" title="Questions that are marked by editor as having issues (includes: incomplete questions, incomplete answers, typos, etc)" data-priority="5">With issues</th>
				            <th data-toggle="tooltip" title="Questions with unsolved latest revision" data-priority="4">Unsolved</th>
				            <th data-toggle="tooltip" title="Questions with pending latest revision" data-priority="3">Pending</th>
				            <th data-toggle="tooltip" title="Sessions created by users" data-priority="2">Sessions</th>
                    <th data-toggle="tooltip" title="Percentage of correct answers submitted by users" data-priority="6">Correct</th>
				        </tr>
				    </thead>
				    <tbody>
				       {% for exam in category.exams.all %}
				       {% with total_count=exam.question_set.undeleted.count with_issue_count=exam.question_set.with_issues.count unsolved_count=exam.question_set.unsolved.count pending_count=exam.question_set.with_pending_latest_revision.count %}
				            <tr>
				                <td><a href="{% url 'exams:create_session' exam.category.get_slugs exam.pk %}">{{ exam.name }}</a></td>
				                <td><a href="{% url 'exams:list_questions' exam.category.get_slugs exam.pk %}">{{ total_count }}</a></td>
				                <td data-order="{{ with_issue_count }}">{{ with_issue_count }} ({% widthratio with_issue_count total_count 100 %}%)</td>
				                <td data-order="{{ unsolved_count }}">{{ unsolved_count }} ({% widthratio unsolved_count total_count 100 %}%)</td>
                        <td data-order="{{ pending_count }}">{{ pending_count }} ({% widthratio pending_count total_count 100 %}%)</td>
                        {% with session_count=exam.session_set.count %}
    				                <td data-order="{{ session_count }}">{{ session_count }}</td>
                        {% endwith %}
                        <td>{{ exam.get_percentage_of_correct_submitted_answers }}%</td>
				            </tr>
				       {% endwith %}
				       {% endfor %}
				    </tbody>
				</table>
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->
{% endblock %}
{% block customscript %}
{% include 'partials/import_datatables.html' %}
  <script type="text/javascript">
    $(function(){
       $('[data-toggle="tooltip"]').tooltip()
       $('.datatable').dataTable({searching: false,
                                  info: false,
                                  order: [[1, 'desc']]});
    });
    </script>

{% endblock %}
