{% extends 'base_new.html' %}{% load static account_utils %}
{% block title %}Fudul | {{ exam.name }} indicators{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.31.2/plotly.min.js" integrity="sha384-pEbvKAAHroDnU/rb2+IiUrslRtrsAGTaQNZjaFWCY3d/h5FlaWxqMkhh8MX4m0dQ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js" integrity="sha384-8xuC0/BWqiPX72DT7LJqj+QiH5eYVT5KsUOewB/DmXi7KPPEdt4Td3xu3lg+slER" crossorigin="anonymous"></script>
{% endblock %}

{% block header_title %}
<h1>{{ exam.name }} indicators</h1>
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item"><a href="{% url 'show_indicator_index' %}">Indicators</a></li>
			<li class="breadcrumb-item active">{{ exam.name }}</li>
{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
		<div class="card-block">
      <p>These two graphs track <strong>active users</strong> (defined as: users who created at least one new session) and <strong>average answers</strong> (defined as: answers submitted with a choice, i.e. not skipped, divided by number of active users).</p>
      <div id="exam-plot" style="width:100%; height:600px;"></div>
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->
{% endblock %}
{% block customscript %}
<script>
  Plotly.d3.csv("{% url 'get_privileged_file' csv_filename %}", function(err, rows){

{% include 'indicators/partials/shared_functions.js' %}

      dates = unpack('date');

      var user_data = {
        type: "scatter",
        mode: "lines",
        name: 'Active users in previous 30 days',
        x: dates,
        y: unpack('user_count'),
        hoverinfo: 'text+name',
        hovertext: get_hover('user_count'),
      }

      var answer_data = {
        type: "scatter",
        mode: "lines",
        name: 'Avg answers in previous 30 days',
        x: dates,
        y: unpack('answer_avg'),
        hoverinfo: 'text+name',
        hovertext: get_hover('answer_avg'),
      }

      var contributor_data = {
        type: "scatter",
        mode: "lines",
        name: 'Active contributors in previous 30 days',
        x: dates,
        y: unpack('contributor_count'),
        hoverinfo: 'text+name',
        hovertext: get_hover('contributor_count'),
      }

      var contribution_data = {
        type: "scatter",
        mode: "lines",
        name: 'New contributions in previous 30 days',
        x: dates,
        y: get_contribution_data(),
        hoverinfo: 'text+name',
        hovertext: get_contribution_hover(),
      }

      data = [user_data, answer_data, contributor_data, contribution_data, exam_date_data];

      Plotly.newPlot('exam-plot', data, {title: "{{ exam.name}} usage plot"});
  })
    </script>

{% endblock %}
