{% extends 'base_new.html' %}{% load static %}
{% block title %}Fudul | Indicators{% endblock %}

{% block header_title %}
<h1>Indicators</h1>
{% endblock %}

{% block breadcrumb %}
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home page</a></li>
      <li class="breadcrumb-item active">Indicators</li>
{% endblock %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-1.31.2.min.js" integrity="sha384-pEbvKAAHroDnU/rb2+IiUrslRtrsAGTaQNZjaFWCY3d/h5FlaWxqMkhh8MX4m0dQ" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js" integrity="sha384-8xuC0/BWqiPX72DT7LJqj+QiH5eYVT5KsUOewB/DmXi7KPPEdt4Td3xu3lg+slER" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h2>The Great Health Metric</h2>
  </div>
	<div class="card-body">
    <div class="card-block">
      <p>To track Fudul's health, we follow our <em>Great Health Metric</em>, which consists of two things: <strong>active users</strong> (defined as: users who created at least one new session) and <strong>average answers</strong> (defined as: answers submitted with a choice, i.e. not skipped, divided by number of active users).</p>
      <div id="great-metric" style="width:100%; height:600px;"></div>
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->

<div class="card">
  <div class="card-header">
    <h2>College indicators</h2>
  </div>
	<div class="card-body">
		<div class="card-block">
      <table id="college-table" class="table table-striped table-bordered datatable dt-responsive">
          <thead>
              <tr>
                  <th data-priority="1">College</th>
                  <th data-priority="2">Institution</th>
                  <th data-priority="1"># users</th>
              </tr>
          </thead>
          <tbody>
             {% for college in colleges %}
                  <tr>
                      <td><a href="{% url 'show_college_indicators' college.pk %}">{{ college.name }}</a></td>
                      <td>{{ college.institution.name }}</td>
                      <td>{{ college.profile_set.count }}</td>
                </tr>
             {% endfor %}
          </tbody>
      </table>
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->

<div class="card">
  <div class="card-header">
    <h2>Team indicators</h2>
  </div>
	<div class="card-body">
		<div class="card-block">
				<table id="team-table" class="table table-striped table-bordered datatable dt-responsive">
				    <thead>
				        <tr>
				            <th data-priority="1">Team</th>
                    <th data-priority="1">Members</th>
                    <th data-priority="2">Categories</th>
                    <th data-toggle="tooltip" title="Total number of questions under team categories" data-priority="3"># questions</th>
				        </tr>
				    </thead>
				    <tbody>
				       {% for team in teams %}
				            <tr>
				                <td><a href="{% url 'show_team_indicators' team.pk %}">{{ team.name }}</a></td>
				                <td>{{ team.members.count }}</td>
                        <td>
                          {% if team.categories.exists %}
                          <ul>
                            {% for category in team.categories.all %}
                            <li><a href="{% url 'show_category_indicators' category.get_slugs %}">{{ category }}</a></li>
                            {% endfor %}
                          </ul>
                          {% else %}
                          None
                          {% endif %}
                        </td>
                        <td>{{ team.get_question_count }}</td>
			            </tr>
				       {% endfor %}
				    </tbody>
				</table>
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->

<div class="card">
  <div class="card-header">
    <h2>Exam indicators</h2>
  </div>
	<div class="card-body">
		<div class="card-block">
				<table id="exam-table" class="table table-striped table-bordered datatable dt-responsive">
				    <thead>
				        <tr>
				            <th data-priority="1">Exam</th>
                    <th data-priority="5">Category</th>
                    <th data-priority="2"># questions</th>
                    <th data-toggle="tooltip" title="Number of users who have ever created a session" data-priority="3"># users</th>
				        </tr>
				    </thead>
				    <tbody>
				       {% for exam in exams %}
				            <tr>
				                <td><a href="{% url 'show_exam_indicators' exam.pk %}">{{ exam.name }}</a></td>
				                <td><a href="{% url 'show_category_indicators' exam.category.get_slugs %}">{{ exam.category }}</a></td>
                        <td>{{ exam.question_set.count }}</td>
                        <td>{{ exam.get_user_count }}</td>
			            </tr>
				       {% endfor %}
				    </tbody>
				</table>
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->

<div class="card">
  <div class="card-header">
    <h2>Category indicators</h2>
  </div>
	<div class="card-body">
		<div class="card-block">
      <a class="btn btn-primary" href="{% url 'list_category_indicators' %}">See indicators</a>
		</div><!--card-block-->
	</div><!--card-body-->
</div><!--card-->

{% endblock %}
{% block customscript %}
{% include 'partials/import_datatables.html' %}

  <script>
    $(function(){
       $('[data-toggle="tooltip"]').tooltip()
       $('#team-table').dataTable({order: [[1, 'desc']]});
       $('#exam-table, #college-table').dataTable({order: [[2, 'desc']]});
    });

    Plotly.d3.csv("{% static 'great-metric.csv' %}", function(err, rows){
    function unpack(rows, key) {
      return rows.map(function(row) { return row[key]; });
    }

    function get_hover(count_field, change_field){
      return rows.map(function(row) {
        end_date = moment(row['date'])
        start_date = moment(row['date']).subtract(30, 'days')
        end_date_str = end_date.format('DD MMM')
        start_date_str = start_date.format('DD MMM')
        return row[count_field] + ' (' + row[change_field].trim() + '%)<br>' + start_date_str + '‒' + end_date_str
      });
    }


    var trace1 = {
      type: "scatter",
      mode: "lines",
      name: 'Active users in previous 30 days',
      x: unpack(rows, 'date'),
      y: unpack(rows, 'user_count'),
      hoverinfo: 'text+name',
      hovertext: get_hover('user_count', 'user_change'),
    }

    var trace2 = {
      type: "scatter",
      mode: "lines",
      name: 'Avg answers in previous 30 days',
      x: unpack(rows, 'date'),
      y: unpack(rows, 'answer_avg'),
      hoverinfo: 'text+name',
      hovertext: get_hover('answer_avg', 'answer_change'),
    }

    var data = [trace1,trace2];

    var layout = {
      title: "The Great Health Metric",
      xaxis: {
        rangeselector: {buttons: [
            {
              count: 1,
              label: '1m',
              step: 'month',
              stepmode: 'backward'
            },
            {
              count: 6,
              label: '6m',
              step: 'month',
              stepmode: 'backward'
            },
            {step: 'all'}
          ]},
        rangeslider: {range: ['2017-09-1', '{% now "y-m-d" %}']},
        type: 'date'
      },
    };

    Plotly.newPlot('great-metric', data, layout);
    })

    </script>
{% endblock %}
