{% load exam_utils %}
<table class="table table-striped table-bordered" width="100%">
   <thead>
     <tr>
       <th>Session</th>
       <th>Score</th>
     </tr>
   </thead>
   <tbody>
   {% for session in latest_sessions %}
   <tr>
       <td data-html="true" data-toggle="tooltip" title="{{ session.get_questions.count }} questions on: <ul>{% for subject in session|get_session_subjects %}<li>{{ subject.name }}</li>{% endfor %}</ul>">
         {% if session.session_mode == 'SOLVED' or session.session_mode == 'INCOMPLETE' or not session.has_finished %}
                 <a href="{% url 'exams:show_session' session.exam.category.get_slugs session.exam.pk session.pk %}"> {{ session.exam.name }} (#{{ session.pk }})</a>
         {% else %}
                 <a href="{% url 'exams:show_session_results' session.exam.category.get_slugs session.exam.pk session.pk %}"> {{ session.exam.name }} (#{{ session.pk }})</a>
         {% endif %}
       </td>
       <td class="text-xs-center">
   {% if session.session_mode == 'SOLVED' %}
       <span data-toggle="tooltip" title="Solved questions have no scores.">N/A<span>
   {% elif session.has_finished %}
       <span class="font-small-2">{{ session.get_score }}%</span>
       <progress  data-toggle="tooltip" title="{{ session.get_correct_answer_count }} out of {{ session.get_questions.count }} questions were answered correctly." class="progress progress-sm progress-success mb-0" value="{{ session.get_score }}" max="100"></progress>
   {% else %}
       <span data-toggle="tooltip" title="{{ session.get_unused_questions.count }} out of {{ session.get_questions.count }} questions remaining.">Ongoing</span>
   {% endif %}
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
