{% if request.get_host == 'fudulbank.com' or request.get_host == 'www.fudulbank.com' %}
<!-- Piwik -->
<script>
  var _paq = _paq || [];
  {% if user.is_authenticated %}
  _paq.push(['setUserId', '{{ user.email|default:user.username }}']);
  {% endif %}
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//fudulbank.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
{% else %}
<!-- Piwik Placeholder -->
<script>
  var _paq = [];
</script>
<!-- End Piwik Placeholder Code -->
{% endif %}
