<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fudul | {% block title %}{% endblock %}</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'limitless/assets/css/colors.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'limitless/assets/js/plugins/forms/styling/uniform.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'limitless/assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'limitless/assets/js/pages/login.js' %}"></script>
	<!-- /theme JS files -->
{% include 'partials/piwik.html' %}
</head>

<body class="login-container">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'limitless/assets/images/logo_light.png' %}" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">
	<div class="panel panel-body login-form">
{% block content %}{% endblock %}
	</div>

					<!-- Footer -->
					<div class="footer text-muted text-center">
												 بُني بأيدٍ طلابية. <a href="https://github.com/Zahajamaan/Fudulbank" target="_blank">حقّك في النسخ مكفول</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
