{% extends 'userena/base_userena.html' %}
{% block title %}Email verification{% endblock %}
{% block subtitle %}Confirm your new email{% endblock %}

{% block content %}
<div class="card-body collapse in">
    <div class="card-block text-center">
		  <p>You have received an email at {{ viewed_user.userena_signup.email_unconfirmed }}.</p>
		  <p>To associate this email address with your account ({{ viewed_user.username }}) click on the link provided in this email.</p>
    </div>
</div>
{% endblock %}
