{% extends 'userena/base_userena.html' %}
{% block title %}Email verification{% endblock %}
{% block subtitle %}Confirm your new email{% endblock %}

{% block content %}
<div class="card-body">
    <div class="card-block text-center">
		  <p>You have received an email at the new email address.</p>
		  <p>To associate this email address with your account ({{ viewed_user.profile.get_full_name|default:viewed_user.username }}) click on the link provided in this email.</p>
    </div>
</div>
{% endblock %}
