{% extends 'userena/base_userena.html' %}{% load i18n %}{% load bootstrap3 %}
{% block title %}{% trans "Reset Password" %}{% endblock %}
{% block content %}
<div class="text-center">
	<div class="icon-object border-warning text-warning"><i class="icon-pencil"></i></div>
	<h5 class="content-group">{% trans "Reset Password" %} <small class="display-block">It's okay. We all forget, don't we?</small></h5>
	<form action="" method="post">
	  {% csrf_token %}
	  {% bootstrap_form form show_label=False %}
	  {% buttons %}
	      <button type="submit" class="btn btn-success">
	          {% trans "Send password" %}
	      </button>
	  {% endbuttons %}
	</form>
</div>
{% endblock %}
