{% extends 'userena/base_userena.html' %}{% load bootstrap3 %}
{% block title %}Reset Password{% endblock %}
{% block subtitle %}It's okay. We all forget, don't we?{% endblock %}
{% block content %}
<div class="card-body">
    <div class="card-block">
        <form method="post" class="form-horizontal form-simple" novalidate>
          {% csrf_token %}
            <fieldset class="form-group position-relative has-icon-left mb-0">
                {% bootstrap_form form show_label=False %}
            </fieldset>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-mail"></i> Send password</button>
        </form>
    </div>
</div>
{% endblock %}
