{% extends 'userena/base_userena.html' %}{% load bootstrap3 %}
{% block title %}Account setup{% endblock %}
{% block subtitle %}Your profile{% endblock %}
{% block content %}
{% bootstrap_form_errors form %}

<div class="card-body collapse in">
    <div class="card-block">
        <form enctype="multipart/form-data" method="post" class="form-horizontal form-simple" novalidate>
          {% csrf_token %}
            <fieldset class="form-group position-relative has-icon-left mb-0">
                {% bootstrap_form form show_label=False %}
            </fieldset>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-edit"></i> Save changes</button>
        </form>
    </div>
</div>
<div class="card-footer">
    <div class="">
        <p class="float-sm-left text-xs-center m-0"><a href="{% url 'userena_email_change' user.username %}">Change email</a></p>
        <p class="float-sm-right text-xs-center m-0"><a href="{% url 'userena_password_change' user.username %}">Change password</a></p>
    </div>
</div>
{% endblock %}
