{% extends 'userena/base_userena.html' %}{% load bootstrap3 %}
{% block title %}Login{% endblock %}
{% block content %}
 {% bootstrap_form_errors form %}
<form method="post">
	{% csrf_token %}
		<div class="text-center">
			<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
			<h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
		</div>

		<div class="form-group has-feedback has-feedback-left">
			{% bootstrap_field form.identification show_label=False %}
			<div class="form-control-feedback">
				<i class="icon-user text-muted"></i>
			</div>
		</div>

		<div class="form-group has-feedback has-feedback-left">
			{% bootstrap_field form.password show_label=False %}
			<div class="form-control-feedback">
				<i class="icon-lock2 text-muted"></i>
			</div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
		</div>

		<div class="text-center">
			<a href="{% url 'userena_password_reset' %}">Forgot password?</a>
		</div>
</form>
{% endblock %}
