{% extends 'userena/base_userena.html' %}
{% block title %}Signup{% endblock %}
{% block subtitle %}You have signed-up{% endblock %}

{% block content %}
<div class="card-body">
    <div class="card-block text-center">
			{% if userena_activation_required %}
		  <p>You have been sent an e-mail with an activation link to the supplied email.</p>
		  <p>We will store your signup information for {{ userena_activation_days }} days on our server. </p>
		  {% else  %}
		  <p>You can now use the supplied credentials to signin.</p>
		  {% endif %}
    </div>
</div>
{% endblock %}
