 {% load bootstrap3 static exam_utils %}
<form method="post"  enctype="multipart/form-data" id="modify-explanation-form">
  {% csrf_token %}
  <div id=explaination  style="margin-top: 5%;" class="form-group has-feedback has-feedback-left">
    <label class="control-label">Explain the answer!</label> <a data-placement="left" class="circle" data-toggle="tooltip" title="An explanation is written to support your claim of the right answer, it would be displayed with the question during sessions."> ? </a>
		{% bootstrap_field form.explanation show_label=False %}
		<div class="form-control-feedback">
		</div>
  </div>
  <div class="form-group">
      <label class="control-label"><i class="icon-image2 text-muted"></i> Explanation figure</label>
      {% bootstrap_field form.explanation_figure show_label=False %}
  </div>
  <button type="submit" class="btn btn-primary btn-block btn-lg">Improve explanation <i class="icon-circle-right2 position-right"></i></button>
</form>

<style>
.circle {
   width: 20px;
   height: 20px;
   background: lightblue;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
    text-align: center;
    color: white;
    float: right;
}
</style>
{% block customscript %}
     <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>

        <script type="text/javascript">

    $("#id_change_summary").append("Modify Explanation");
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
        $("form#modify-explanation-form").submit(function (event) {
        /* stop form from submitting normally */
            event.preventDefault();
            /* get some values from elements on the page: */
            var formData = new FormData($(this)[0]);
            url = "{% url 'exams:contribute_explanation' %}?" + $.param({question_pk: {{ question.pk }}});
            /* Send the data */

            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    if (data.success == 1) {
                        // show success message (using toastr)
                        toastr.success("Thank you!  Your explanation will be reviewed very soon!");
                        $("#explain-question-modal").modal('hide');
                        $("#explain").hide()
                    } else {
                        $("#explain-question-modal .modal-body").html(data);
                    }
                }
            });
        });
    });
</script>
{% endblock %}
