 {% load bootstrap3 static exam_utils %}
<form method="post"  enctype="multipart/form-data" id="modify-explanation-form">
  {% csrf_token %}
  <div id="explaination"  style="margin-top: 5%;" class="form-group has-feedback has-feedback-left">
    <label class="control-label">Explain the answer!</label> <a data-placement="left" class="help-tooltip circle" data-toggle="tooltip" title="An explanation is written to support your claim of the right answer, it would be displayed with the question during sessions."> ? </a>
		{% bootstrap_field form.explanation_text show_label=False %}
		<div class="form-control-feedback">
		</div>
  </div>
  <div class="form-group">
      <label class="control-label"><i class="icon-image2 text-muted"></i> Explanation figure</label>
      <div  style="margin-left: 3%">{% bootstrap_field form.explanation_figure show_label=False %}</div>
  </div>
  <div class="form-group">
      <label class="control-label"><i class="icon-book2 text-muted"></i> Explanation reference</label>
      {% bootstrap_field form.reference show_label=False %}
  </div>

  <button type="submit" class="btn btn-primary btn-block btn-lg">Improve explanation <i class="icon-circle-right2 position-right"></i></button>
</form>

<style>
.circle {
   width: 20px;
   height: 20px;
   background: lightblue;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
    text-align: center;
    color: white;
    float: right;
    line-height:15px;

}
</style>
{% block customscript %}

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/jquery.autogrowtextarea.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>

<script type="text/javascript">
    $(function() {
        $('.help-tooltip').tooltip();
        $("textarea").autoGrow();

        $("form#modify-explanation-form").submit(function (event) {
            // iOS 11.3 fails to submit AJAX with empty file input fields.
            var $figure = $("#id_explanation_figure");
            if(!$figure.val()){
                $figure.attr('disabled', true);
            }
            /* stop form from submitting normally */
            event.preventDefault();
            /* get some values from elements on the page: */
            var formData = new FormData($(this)[0]);
            url = "{% url 'exams:contribute_explanation' %}?" + $.param({question_pk: {{ question.pk }}});
            /* Send the data */

            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                enctype: 'multipart/form-data',
                processData: false,
                success: function (data) {
                    if (data.success == 1) {
                        // show success message (using toastr)
                        toastr.success("Thank you!  Your explanation will now be viewed by all examinees!");
                        $("#explain-question-modal").modal('hide');
                        $current_question.find(".explanation-container").show();
                        var $explanation_content = $current_question.find(".explanation-content");
                        $explanation_content.html(data.explanation_html);
                        var explanation_text = $explanation_content.find('.explanation-text').html();
                        var explanation_html = converter.makeHtml(explanation_text);
                        $current_question.find('.explanation-text').html(explanation_html);


                    } else {
                        toastr.error(data.message);
                        $("#explain-question-modal .modal-body").html(data);
                    }
                }
            });
        });
    });
</script>
{% endblock %}
