<ul>
    <li>
      {% if exam.subject_set.exists %}
       <strong>Available subjects:</strong>
       <ul>
       {% for subject in exam.subject_set.order_by_total_questions %}
          <li>{{ subject.name }} ({{ subject.question_set.count }} questions)</li>
       {% endfor %%}
       </ul>
      {% else %}
       No subjects available.
      {% endif %}
    </li>
    <li>
      {% if exam.get_sources.exists %}
       <strong>Available sources:</strong>
       <ul>
       {% for source in exam.get_sources.order_by_total_questions %}
          <li>{{ source.name }} ({{ source.question_set.count }} questions)</li>
       {% endfor %%}
       </ul>
      {% else %}
       No sources available.
      {% endif %}
    </li>
    <li><strong>{{ exam.question_set.count }} questions in total:</strong>
       <ul>
         <li>{{ exam.question_set.complete.count }} complete.</li>
         <li>{{ exam.question_set.incomplete.count }} incomplete.</li>
         <li>{{ exam.get_approved_latest_revisions.count }} with latest revision approved.</li>
         <li>{{ exam.get_pending_latest_revisions.count }} with latest revision pending.</li>
       </ul>
    </li>
</ul>
<div class="text-right">
    <a href="{% url 'exams:list_questions' exam.category.get_slugs exam.pk %}" class="btn btn-primary">List questions <i class="icon-arrow-right14 position-right"></i></a>
</div>
