{% load static %}
<style>
    .wholerow{
        text-align: center;
        font-weight:bolder;
    }
    .multiperows{
        vertical-align: middle !important;
    }
</style>
{#    #}
<!-- Modal -->
<div class="modal fade" id="NormalValues" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Lab Values</h5>
        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div style="padding: 0% !important;" class="modal-body table-responsive">


<table class="table table-striped table-bordered datatable responsive">
<tbody>
<tr>
<td> </td>
<td><strong>REFERENCE RANGE</strong></td>
<td>
<div><strong>SI REFERENCE INTERVALS</strong></div>
</td>
</tr>
<tr>
<td  colspan="3" class="wholerow">
<strong>BLOOD, PLASMA, SERUM</strong>
</td>
</tr>
<tr>
<td>
<div>Alanine aminotransferase (ALT) , serum</div>
</td>
<td>
<div>8-20 U/L</div>
</td>
<td> 8-20 U/L</td>
</tr>
<tr>
<td>
<div>Amylase, serum</div>
</td>
<td>
<div>25-125 U/L</div>
</td>
<td> 25-125 U/L</td>
</tr>
<tr>
<td>
<div>Aspa rtate aminotransferase (AST), serum</div>
</td>
<td>
<div>8-20 U/L</div>
</td>
<td> 8- 20 U/L</td>
</tr>
<tr>
<td>Bilirubin, serum (adult) Total // Direct</td>
<td>
<div>0.1- 1.0 mg/dL // 0.0 - 0.3 mg/dL</div>
</td>
<td>
<div>2-17 μmol/L // 0-5 μmol/L</div>
</td>
</tr>
<tr>
<td>
<div>Calcium, serum (Ca2+)</div>
</td>
<td>
<div>8.4 - 10.2 mg/dL</div>
</td>
<td> 2.1- 2.8 mmol/L</td>
</tr>
<tr>
<td>Cholesterol, serum</td>
<td>
<div>Rec:&lt;200 mg/dL</div>
</td>
<td>
<div>&lt;5.2 mmol/L</div>
</td>
</tr>
<tr>
<td class="multiperows" >Cortisol, serum</td>
<td>
<div>0800 h: 5 - 23 μg/dL // 1600 h: 3- 15 μg/dL</div>
<div>
<div>2000 h: &lt; 50% of 0800 h</div>
</div>
</td>
<td>
<div>138 - 635 nmol/L // 82 - 413 nmol/L</div>
<div>
<div>Fraction of 0800 h:&lt; 0.50</div>
</div>
</td>
</tr>
<tr>
<td colspan="3" class="wholerow">  Creatine kinase, serum</td>
</tr>
<tr>
<td> Male</td>
<td>
 25-90 U/L
</td>
<td>
25-90 U/L
</td>
</tr>
<tr>
<td> Female</td>
<td>10-70 U/L </td>
<td>0-70 U/L </td>
</tr>
<tr>
<td> Creatinine, serum</td>
<td> 0.6-1.2 mg/dL</td>
<td> 53-106 μmol/L</td>
</tr>
<tr>
<td colspan="3" class="wholerow"> Electrolytes, serum</td>
</tr>
<tr>
<td> Sodium (Na+)</td>
<td> 136-145 mEq/L</td>
<td> 136-145 mmol/L</td>
</tr>
<tr>
<td>
<div>Potassium (K+)</div>
</td>
<td> 3.5-5.0 mEq/L</td>
<td> 3.5-5.0 mmol/L</td>
</tr>
<tr>
<td>Chloride (Cl–)</td>
<td> 95-105 mEq/L</td>
<td> 95-105 mmol/L</td>
</tr>
<tr>
<td> Bicarbonate (HCO3–)</td>
<td> 22-28 mEq/L</td>
<td> 22-28 mmol/L</td>
</tr>
<tr>
<td>
<div>Magnesium (Mg2+)</div>
</td>
<td>
<div>1.5-2.0 mEq/L</div>
</td>
<td> 0.75-1.0 mmol/L</td>
</tr>
<tr>
<td  colspan="3" class="wholerow">
<div>
<div>Estriol, total, serum <strong>(in pregnancy)</strong></div>
</div>
</td>
</tr>
<tr>
<td>
<div>24-28 wks // 32-36 wks</div>
</td>
<td> 30-170 ng/mL // 60-280 ng/mL</td>
<td> 104-590 nmol/L // 208-970 nmol/L</td>
</tr>
<tr>
<td> 28-32 wks // 36-40 wks</td>
<td> 40-220 ng/mL // 80-350 ng/mL</td>
<td> 140-760 nmol/L // 280-1210 nmol/L</td>
</tr>
<tr>
<td colspan="3" class="wholerow">
 Ferritin, serum 
</td>
</tr>
<tr>
<td>Male</td>
<td>
15-200 ng/mL
</td>
<td>
15-200μg/L
</td>
</tr>
<tr>
<td>Female</td>
<td>
 12-150 ng/mL
</td>
<td>
 12-150 μg/L
</td>
</tr>
<tr>
<td colspan="3" class="wholerow">
  Follicle-stimulating hormone, serum/plasma
</td>
</tr>
<tr>
<td>
Male
</td>
<td>
4-25 mIU/mL
</td>
<td>
4-25 U/L
</td>
</tr>
<tr>
<td rowspan="3" class="multiperows"> Female </td>
<td>
premenopause 4-30mIU/mL
</td>
<td>
4-30 U/L
</td>
</tr>
<tr>
<td>midcycle peak 10-90 mIU/mL
</td>
<td>
 10-90 U/L
</td>
</tr>
<tr>
    <td>postmenopause 40-250 mIU/mL
    </td>
<td>
40-250 U/L
</td>
</tr>
<tr>
<td colspan="3" class="wholerow">
<div>Gases, arterial blood (room air)</div>
</td>
</tr>
<tr>
<td> pH</td>
<td> 7.35-7.45</td>
<td>
<div>[H+] 36-44 nmol/L</div>
</td>
</tr>
<tr>
<td>
<div>PCO2</div>
</td>
<td>
<div>33-45 mm Hg</div>
</td>
<td> 4.4-5.9 kPa</td>
</tr>
<tr>
<td>
<div>
<div>PO2</div>
</div>
</td>
<td> 75-105 mm Hg</td>
<td> 10.0-14.0 kPa</td>
</tr>
<tr>
<td class="multiperows" rowspan="2"> Glucose, serum </td>
<td>
Fasting 70-110 mg/dL </td>
<td>
3.8-6.1 mmol/L</td>
</tr>
<tr>
<td>2-h postprandial < 120 mg/dL
</td>
<td>
< 6.6 mmol/L
</td>
</tr>
<tr>
<td class="multiperows" rowspan="2"> Growth hormone-arginine stimulation </td>
<td>
Fasting < 5 ng/mL
</td>
<td>
< 5μg/L
</td>
</tr>
<tr>
<td>provocative stimuli > 7 ng/mL
</td>
<td>
> 7 μg/L
</td>
</tr>
<tr>
<td colspan="3" class="wholerow"> Immunoglobulins, serum</td>
</tr>
<tr>
<td>IgA</td>
<td> 76-390 mg/dL</td>
<td> 0.76-3.90 g/L</td>
</tr>
<tr>
<td>IgE</td>
<td> 0-380 IU/mL </td>
<td> 0-380 kIU/L</td>
</tr>
<tr>
<td>IgG</td>
<td> 650-1500 mg/dL </td>
<td> 6.5-15 g/L</td>
</tr>
<tr>
<td>IgM </td>
<td> 40-345 mg/dL</td>
<td> 0.4-3.45 g/L</td>
</tr>
<tr>
<td>Iron</td>
<td>
<div> 50-170 μg/dL</div>
</td>
<td>
<div>9-30 μmol/L </div>
</td>
</tr>
<tr>
<td> Lactate dehydrogenase, serum</td>
<td> 45-90 U/L</td>
<td> 45-90 U/L</td>
</tr>
<tr><td  colspan="3" class="wholerow">Luteinizing hormone, serum/plasma</td></tr>
<tr><td>Male </td>
<td>
6-23 mIU/mL
</td>
<td>
6-23 U/L
</td>
</tr>
<tr>
<td rowspan="3" class="multiperows">Female
</td>
<td>follicular phase 5-30 mIU/mL</td>
<td>
5-30 U/L
</td>
</tr>
<tr>
<td>midcycle 75-150 mIU/mL
</td>
<td>
75-150 U/L
</td>
</tr>
<tr>
<td>postmenopause 30 -200 mIU/mL

</td>
<td>
30-200 U/L
</td>
</tr>
{#<tr>#}
{#<td> Luteinizing hormone, serum/plasma</td>#}
{#<td>#}
{#<p> </p>#}
{#<div>Male: 6-23 mIU/mL<br /><br /></div>#}
{#<div>Female:follicular phase 5-30 mIU/mL<br /><br /> midcycle 75-150 mIU/mL<br /><br /></div>#}
{#<div>postmenopause 30 -200 mIU/mL</div>#}
{#<div> </div>#}
{#<div> </div>#}
{#</td>#}
{#<td>#}
{#<p>6-23 U/L </p>#}
{#<p>5-30 U/L</p>#}
{#<p>75-150 U/L</p>#}
{#<p>30-200 U/L</p>#}
{#</td>#}
{#</tr>#}
<tr>
<td> Osmolality, serum</td>
<td> 275-295 mOsmol/kgH2O</td>
<td> 275-295 mOsmol/kgH2O</td>
</tr>
<tr>
<td>
<div>Parathyroid hormone, serum, N-terminal</div>
</td>
<td>
<div>230-630 pg/mL</div>
</td>
<td>230-630 ng/L</td>
</tr>
<tr>
<td>
<div>
<div>hosphatase (alkaline), serum (p-NPP at 30C)</div>
</div>
</td>
<td>20-70 U/L</td>
<td>
<div>20-70 U/L</div>
</td>
</tr>
<tr>
<td>
<div>
<div> Phosphorus (inorganic), serum</div>
</div>
</td>
<td>
<div>
<div>3.0-4.5 mg/dL</div>
</div>
</td>
<td>
<div>1.0-1.5 mmol/L</div>
</td>
</tr>
<tr>
<td>
<div>Prolactin, serum (hPRL)</div>
</td>
<td>
<div>&lt; 20 ng/mL</div>
</td>
<td>
<div> &lt; 20 μg/L</div>
</td>
</tr>
<tr>
<td  colspan="3" class="wholerow">
<div>
<div>Proteins, serum</div>
</div>
</td>
</tr>
<tr>
<td>
<div>
<div>Total (recumbent)</div>
</div>
</td>
<td> 6.0-7.8 g/dL </td>
<td> 60-78 g/L </td>
</tr>
<tr>
<td>
<div>Albumin</div>
</td>
<td>
<div>
<div>6.0-7.8 g/dL</div>
</div>
</td>
<td>
<div> 35-55 g/L</div>
</td>
</tr>
<tr>
<td>
<div>Globulin</div>
</td>
<td>
<div>
<div> 3.5-5.5 g/dL</div>
</div>
</td>
<td>
<div>23-35 g/L</div>
</td>
</tr>
<tr>
<td>
<div>
<div>Thyroid - stimulating hormone, serum or plasma</div>
</div>
</td>
<td>
<div>
<div>0.5 -5.0 μU/mL</div>
</div>
</td>
<td>0.5-5.0 mU/L</td>
</tr>
<tr>
<td>
<div>
<div>Thyroidal iodine (123 I) uptake</div>
</div>
</td>
<td>
<div>8% - 30% of administered dose/24 h</div>
</td>
<td>
<div>0.08 -0.30/24 h</div>
</td>
</tr>
<tr>
<td>
<div>
<div>Thyroxine (T4), serum</div>
</div>
</td>
<td>
<div>5-12 μg/dL</div>
</td>
<td>
64-155 nmol/L
</td>
</tr>
<tr>
<td>
<div>Triglycerides, serum</div>
</td>
<td>
<div>
<div>35-160 mg/dL</div>
</div>
</td>
<td>
<div>0.4-1.81 mmol/L</div>
</td>
</tr>
<tr>
<td>
<div>
<div>Triiodothyronine (T3), serum (RIA)</div>
</div>
</td>
<td>
<div>
<div>115-190 ng/dL</div>
</div>
</td>
<td>
<div>1.8-2.9 nmol/L</div>
</td>
</tr>
<tr>
<td>
<div>
<div>riiodothyronine (T3) resin uptake</div>
</div>
</td>
<td>
25%-35%
</td>
<td>
0.25-0.35
</td>
</tr>
<tr>
<td>
<div>Urea nitrogen, serum</div>
</td>
<td>
7-18 mg/dL
</td>
<td>
<div>1.2-3.0 mmol/L</div>
</td>
</tr>
<tr>
<td>
Uric acid, serum
</td>
<td>
3.0-8.2 mg/dL
</td>
<td>
0.18-0.48 mmol/L
</td>
</tr>
</tbody>
</table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
