{% load exam_utils %}
{% get_user_question_stats target user 'correct' total=total percent=True as correct_percentage %}
{% get_user_question_stats target user 'incorrect' total=total percent=True as incorrect_percentage %}
{% get_user_question_stats target user 'skipped' total=total percent=True as skipped_percentage %}
{% get_user_question_stats target user 'correct' as correct_count %}
<td class="text-center" data-order="{{ correct_percentage }}" data-toggle="tooltip" data-html="true" title="<strong>Correct:</strong> {{ correct_percentage }}% ({{ correct_count }} questions)<br><strong>Incorrect:</strong> {{ incorrect_percentage }}% ({{ incorrect_count }} questions)<br><strong>Skipped:</strong> {{ skipped_percentage }}% ({{ skipped_count }} questions)<br>">
  <span class="font-small-2">{{ correct_percentage }}%</span>
  <div class="progress progress-sm">
    <div class="progress-bar bg-success" role="progressbar" style="width: {{  correct_percentage }}%" aria-valuenow="{{ correct_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ incorrect_percentage }}%" aria-valuenow="{{ incorrect_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ skipped_percentage }}%" aria-valuenow="{{ skipped_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</td>
