{% load static %}
<script src="{% static 'stack/vendors/js/charts/chart.min.js' %}"></script>
<script>
$(function () {
  var ctx = $('#performance-chart'),
  chartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    responsiveAnimationDuration: 500,
    tooltips: {
      callbacks: {
        afterLabel: function(tooltipItem, data) {
          var dataset = data.datasets[tooltipItem.datasetIndex];
          var total = dataset.data.reduce(function(previousValue, currentValue) {
            return previousValue + currentValue;
          });
          var currentValue = dataset.data[tooltipItem.index];
          var precentage = Math.floor(((currentValue/total) * 100)+0.5);
          return "(" + precentage + "%)";
        }
      }
    }
  },
  chartData = {
    labels: ['Correct', 'Incorrect', 'Skipped'],
    datasets: [
      {
        label: 'My perfromance',
        data: [{{ correct_count }}, {{ incorrect_count }}, {{ skipped_count }}],
        backgroundColor: [
          '#16D39A',
          '#FF4558',
          '#FFE87C'
        ]
      }
    ]
  },
  config = {
    type: 'pie',
    options: chartOptions,
    data: chartData,
  };
  new Chart(ctx, config)
});

</script>
