{% load bootstrap3 %}
        {% bootstrap_form_errors questionform %}
<form method="post" data-exam_pk='{{ exam.pk }}' enctype="multipart/form-data" id="add-question-form">
    {% csrf_token %}

  <div class="row">
{% if questionform.exam_types %}
	<div class="col-md-6">
		<div class="form-group">
      <label class="control-label"><i class="icon-filter3 text-muted"></i> Exam type</label>
      <div id='exam-type'>
  			{% bootstrap_field questionform.exam_types show_label=False %}
      </div>
		</div>
	</div>
{% endif %}
	<div class="col-md-6">
		<div class="form-group">
      <label class="control-label"><i class="icon-stack-check text-muted"></i> Status <a data-placement="left" class="circle" data-toggle="tooltip" title="Before tagging a question as 'complete' make sure it has complete answers, and it should be solved.">?</a></label> {% if question %}<small style="margin-left: 1%;color: red"> This question will be approved if you set status to complete.</small>{% endif %}
			{{ revisionform.statuses }}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
      <label class="control-label"><i class="icon-git-branch text-muted"></i> Source<a class="circle" data-placement="left" data-toggle="tooltip"  title="PLACEHOLDER">?</a></label>
			{{ questionform.sources }}
		</div>
	</div>
  {% if questionform.subjects %}
	<div class="col-md-6">
		<div class="form-group">
      <label class="control-label"><i class="icon-list-unordered text-muted"></i> Subject<a class="circle" data-placement="left" data-toggle="tooltip"  title="PLACEHOLDER">?</a></label>
			{{ questionform.subjects }}
		</div>
	</div>
  {% endif %}
	<div class="col-md-6">
		<div class="form-group">
      <label class="control-label"><i class="icon-list-unordered text-muted"></i> Parent question <a class="circle" data-placement="left" data-toggle="tooltip"  title="if you are adding a case questions you can use parent question field by typing the number of the question that should come before it.">?</a></label>
			{{ questionform.parent_question }}
		</div>
	</div>
        {% bootstrap_form_errors revisionform %}

	<div class="col-md-6">
		<div class="form-group" id="figure">
                        <label class="control-label"><i class="icon-image2 text-muted"></i> Corresponding figure</label>
			{% bootstrap_field revisionform.figure show_label=False %}

		</div>
	</div>
</div>

        <div class="form-group has-feedback has-feedback-left">
            <label class="control-label">Question Text</label>
			{% bootstrap_field revisionform.text show_label=False %}
			<div class="form-control-feedback">
				<i class="icon-pencil text-muted"></i>
			</div>
		</div>

                      <h3>Question Choices</h3>

                        {{ revisionchoiceformset.management_form }}
                        {{ revisionchoiceformset.non_form_errors.as_ul }}
                        <table id="choice_formset" class="form" style="width: 100%;">

                        {% for form in revisionchoiceformset.forms %}
                          {% if forloop.first %}
                            <colgroup>
                                <col class="col-xs-8">
                                <col class="col-xs-2">
                                <col class="col-xs-2">
                            </colgroup>
                            <thead><tr>
                              <th>Text</th>
                              <th></th>
                              <th></th>
                            </tr></thead>
                          {% endif %}
                          <tr class="form-container">
                          {% for field in form.visible_fields %}
                            <td>
                            {% if forloop.first %}
                              {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                              {% endfor %}
                            {% endif %}
                                <div class="form-group">
                              {{ field.errors.as_ul }}
                              {% bootstrap_field field show_label=False %}
                                </div>
                            </td>
                          {% endfor %}
                          </tr>
                        {% endfor %}
                        </table>

        		<div class="form-group has-feedback has-feedback-left">
            <label class="control-label">Answer explanation</label>
			{% bootstrap_field revisionform.explanation show_label=False %}
			<div class="form-control-feedback">
				<i class=" icon-info22 text-muted"></i>
			</div>
    </div>
  	<div class="form-group">
        <label class="control-label"><i class="icon-image2 text-muted"></i> Explanation figure</label>
  			{% bootstrap_field revisionform.explanation_figure show_label=False %}
  	</div>
{% if revision  %}
            <div class="form-group has-feedback has-feedback-left">
            <label class="control-label">Answer reference </label>
			{% bootstrap_field revisionform.reference show_label=False %}
			<div class="form-control-feedback">
				<i class=" icon-info22 text-muted"></i>
			</div>
		</div>
                    {% endif %}
<input name="exam_pk" type="hidden" value="{{ exam.pk }}">
               <button type="submit" class="btn btn-primary float-sm-right"><i class="ft-check"></i> Submit Question <i class="icon-circle-right2 position-right"></i></button>

        </form>

<style>
.circle {
   width: 20px;
   height: 20px;
   background: lightblue;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
    text-align: center;
    color: white;
    float: right;
}
</style>
