<thead>
    <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Submitter</th>
        <th>Status</th>
        <th>Date of last revision</th>
        <th>Has right answer?</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
{% for revision in revisions %}
  <tr data-pk="{{ revision.question.pk }}" data-url="{% url 'exams:show_question' revision.question.pk %}">
    <td>{{ revision.question.pk }}</td>
    <td> {{ revision.text|linebreaks|truncatewords:20 }}</td>
    <td>{{ revision.submitter }}</td>
    <td>
       <ul>{% for status in revision.statuses.all %}<li>{{ status.name }}</li>{% endfor %}</ul>
    </td>
    <td data-order="{{ revision.submission_date|date:'U' }}">{{ revision.submission_date }}</td>
    <td>{% if revision.has_right_answer %}Yes{% else %}No{% endif %}</td>
    <td>
       <a href="{% url 'exams:list_revisions' category_slug exam_pk revision.question.pk %}"><button class="btn btn-primary btn-icon btn-rounded"><i class="icon-menu7"></i></button></a>
       <a href="{% url 'exams:submit_revision' category_slug exam_pk revision.question.pk %}"><button class="btn btn-warning btn-icon btn-rounded"><i class="icon-pencil"></i></button></a>
       <button data-pk="{{ revision.question.pk }}" data-url="{% url 'exams:delete_question' revision.question.pk %}" class="confirm-delete-question btn btn-danger btn-icon btn-rounded"><i class="icon-cross2"></i></button>
    </td>
  </tr>
{% endfor %}
</tbody>
