<table class="table table-striped table-bordered datatable responsive" width="100%">{% load exam_utils %}
   <thead>
     <tr>
{% if not is_homepage %}
       <th>ID</th>
{% endif %}
       <th class="all">Exam</th>
{% if not is_homepage %}
       <th># questions</th>
       <th>Subjects</th>
       <th>Mode</th>
{% endif %}
       <th>Score</th>
       <th class="all">Action</th>
     </tr>
   </thead>
   <tbody>
   {% for session in sessions %}
   <tr>
{% if not is_homepage %}
       <td>{{ session.pk }}</td>
{% endif %}
       <td><a href="{% url 'exams:create_session' session.exam.category.get_slugs session.exam.pk %}">{{ session.exam.name }}</a></td>
{% if not is_homepage %}
       <td>{{ session.get_total_question_count }}</td>
       <td>
   {% if session.subjects.count == 1 %}
       {{ session.subjects.first.name }}
   {% elif not session.exam.subject_set.exists %}
       <span data-toggle="tooltip" title="{{ session.exam.name }} has no sub-subjects">N/A</span>
   {% else %}
       <span data-toggle="tooltip" data-html="true" title="<ul>{% for subject in session|get_session_subjects %}<li>{{ subject.name }}</li>{% endfor %}</ul>">Multiple</span>
   {% endif %}
       </td>
       <td>{{ session.get_session_mode_display }}</td>
{% endif %}
       <td class="text-xs-center">
   {% if session.session_mode == 'SOLVED' %}
       <span data-toggle="tooltip" title="Solved questions have no scores.">N/A<span>
   {% elif session.has_finished %}
       <span class="font-small-2">{{ session.get_score }}%</span>
       <progress  data-toggle="tooltip" title="{{ session.get_correct_answer_count }} out of {{ session.get_total_question_count }} questions were answered correctly." class="progress progress-sm progress-success mb-0" value="{{ session.get_score }}" max="100"></progress>
   {% else %}
       <span data-toggle="tooltip" title="{{ session.get_unused_questions.count }} out of {{ session.get_total_question_count }} questions remaining.">Ongoing</span>
   {% endif %}
       </td>
       <td>
   {% if session.session_mode != 'SOLVED' and not session.has_finished %}
           <a class="btn btn-sm btn-primary" href="{% url 'exams:show_session' session.exam.category.get_slugs session.exam.pk session.pk %}"><i class="ft-play"></i> Resume</a>
   {% else %}
           <a class="btn btn-sm btn-primary" href="{% url 'exams:show_session_results' session.exam.category.get_slugs session.exam.pk session.pk %}"><i class="ft-list"></i> View results</a>
   {% endif %}
       </td>
     </tr>

   {% endfor %}
   </tbody>
 </table>
