{% load static exam_utils %}
{% with latest_revision=question.get_latest_revision best_latest_revision=question.get_best_latest_revision was_solved=question|was_solved_in_session:session %}
{% with highlight=best_latest_revision|get_relevant_highlight:session %}
<div class="question-body well-sm{% if question == current_question %} show{% endif %}" data-best-latest-revision-pk="{{ best_latest_revision.pk }}" data-url="{{ question|get_session_url:session }}" data-question-sequence="{{ question_sequence }}" data-question-pk="{{ question.pk }}" data-is-marked="{% if question|is_question_marked:user %}true{% else %}false{% endif %}" data-was-solved="{% if was_solved %}true{% else %}false{% endif %}">
  {% if best_latest_revision.figure %}
     <img class="img-fluid center-block" src="{{ best_latest_revision.figure.url }}">
  {% endif %}

    <p class="question-text">{% get_question_text highlight best_latest_revision session %}</p>
    <table>
      <tbody>
        {% for choice in best_latest_revision.choice_set.order_by_alphabet %}
            <tr data-choice-pk="{{ choice.pk }}">
               <td class="correct">{% if not session.question_filter == 'INCOMPLETE' and not choice.answer_correction %}<i{% if not choice.is_right %} class="icon-hand"{% endif %}></i>{% endif %}</td>
               <td class="check">{% if choice.is_right %}<i class="icon-checkmark2 text-success"></i>{% elif not choice.is_right and choice.answer_correction %}<i class="icon-notification2 text-warning answer-correction-notification"></i>{% include 'exams/partials/show_answer_correction.html' %}{% elif not choice.is_right %}<i class="icon-cross3 text-danger"></i>{% endif %}</td>
               <td><input {% if choice|was_chosen:session %}checked {% endif %}{% if was_solved %}disabled {% endif %}class="question-choice" name="question-choice" type="checkbox"></td>
               <td><span class="choice-text {% stricken_choice_class choice highlight session %}">{{ choice.text }}</span></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="explanation-container">
      <h3>Explanation</h3>
      <div class="explanation-content">{% include 'exams/partials/show_explanation.html' %}</div>
    </div>
{% endwith %}{# with highlight #}
{% endwith %}{# with others #}
<div class="tooltip-container">
  <div class="tooltip-body">
    {% for contributor in question.get_contributors %}
      {% if forloop.first %}
          This question was originally added by {% if contributor %}<a href="{% url 'exams:list_contributions' contributor.pk %}">{{ contributor.profile.nickname|default:contributor.username }}</a>. {% else %} automatic importing.{% endif %}
        {% if question.get_contributors|length > 1 %}
        Futher contributions were done by
        {% endif %}
      {% else %}
        {{ contributor.profile.nickname|default:contributor.username }}{% if forloop.last %}.{% else %}, {% endif %}
    {% endif %}
      {% endfor %}
  </div>
</div>

</div>
