<div id="question-body" class="well-sm" data-question-pk="{{ question.pk }}" data-session-pk="{{ session.pk }}">
    <p class="question-text">{{ question.get_latest_revision.text|linebreaksbr }}</p>

    <table>
      <tbody>
        {% for choice in question.get_latest_revision.choice_set.order_by_alphabet %}
            <tr>
               <td><input class="question-choice" name="question-choice" data-question_pk="{{ question.pk }}" data-session_pk="{{ session.pk }}" data-choice_pk="{{ choice.pk }}" type="checkbox"></td>
               <td><span class="choice-text">{{ choice.text }}</span></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

<div id="tooltip-container">
  <div id="tooltip-body">
    {% for contributor in question.get_contributors %}
      {% if forloop.first %}
        This question was originally added by {{ contributor.0|default:contributor.username }}.
        {% if question.get_contributors|length > 1 %}
        Futher contributions where done by
        {% endif %}
      {% else %}
        {{ contributor.0|default:contributor.username }}{% if forloop.last %}.{% else %}, {% endif %}
    {% endif %}
      {% endfor %}
  </div>
</div>

</div>
