{% load static exam_utils account_utils %}

{% with explanation_revision=question.get_latest_explanation_revision best_revision=question.best_revision %}
<div class="question-body well-sm{% if question == current_question %} show{% endif %}" data-best-latest-revision-pk="{{ best_revision.pk }}" data-question-pk="{{ question.pk }}">
  {% if best_revision.figure %}
     <img class="img-fluid center-block" src="{{ best_revision.figure.url }}">
  {% endif %}

<div>
    {% if question.sources.count > 1 %}
       <span data-html="true" data-toggle="tooltip" title="<strong>Repeated in:</strong> <ul>{% for source in  question.sources.all %}<li>{{ source.name }}</li>{% endfor %}</ul>" class="d-block float-right badge badge-default badge-success">Repeated {{ question.sources.count }} times </span>
    {% endif %}
    </div>
    <p class="question-text">{{ best_revision.text }}</p>
    <table class="choice-table">
      <tbody class="unprepared">
        {% for choice in best_revision.choice_set.select_related_for_session %}
            <tr data-choice-pk="{{ choice.pk }}" data-is-right="{% if choice.is_right %}true{% else %}false{% endif %}" data-has-correction="false">
               <td class="correct"><i title="Suggest an alternative right answer" class="far fa-hand-paper"></i></td>
               <td class="check">{% if choice.is_right %}<i title="Correct answer" class="fas fa-check text-success mx-1"></i>{% elif not choice.is_right %}<i title="Incorrect answer" class="fas fa-times text-danger mx-1"></i>{% endif %}</td>
               <td><input aria-labelledby="choice-text-{{ choice.pk }}" class="question-choice" name="question-choice" type="checkbox"></td>
               <td><span id="choice-text-{{ choice.pk }}" class="choice-text">{{ choice.text }}</span></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
<div class="row">
  <div class="col-sm-8">
     <div class="explanation-container">
      <h3>Explanation:</h3>
      <div class="explanation-content">{% include 'exams/partials/show_explanation.html' %}</div>
    </div>
  </div>
  <div class="col-sm-4">
     <div class="mnemonics-container">
       <h3 >Mnemonics:</h3>
          <div class="mnemonics-content">
              {% if question.get_available_mnemonics.exists %}
               {% include 'exams/partials/show_mnemonics.html' %}
              {% else %}
              <p><em style="color: grey;"><strong>mnemonics (noun)</strong>: aiding or designed to aid the memory.</em></p>
              {% endif %}
          </div>
     </div>

  </div>
</div>
{% endwith %}{# with others #}
<div class="tooltip-container">
  <div class="tooltip-body">
    {% for contributor in question.get_contributors %}
      {% if forloop.first %}
          This question was originally added by {% if contributor %}<a href="{% url 'exams:list_contributions' contributor.pk %}">{{ contributor|get_user_credit }}</a>. {% else %} automatic importing.{% endif %}
        {% if question.get_contributors|length > 1 %}
        Futher contributions were done by
        {% endif %}
      {% else %}
        {{ contributor|get_user_credit }}{% if forloop.last %}.{% else %}, {% endif %}
    {% endif %}
      {% endfor %}
  </div>
</div>

</div>
