{% load static exam_utils account_utils %}

{% with explanation_revision=question.get_latest_explanation_revision best_latest_revision=question.get_best_latest_revision was_solved=question|was_solved_in_session:session mnemonics=question.get_available_mnemonics %}

{% with highlight=best_latest_revision|get_relevant_highlight:session %}
<div class="question-body well-sm{% if question == current_question %} show{% endif %}" data-best-latest-revision-pk="{{ best_latest_revision.pk }}" data-list-revision-url="{% url 'exams:list_revisions' category_slugs session.exam.pk question.pk %}" data-url="{{ question|get_session_url:session }}" {% if question_sequence %}data-question-sequence="{{ question_sequence }}"{% endif %} data-question-pk="{{ question.pk }}" data-is-marked="{% if question|is_question_marked:user %}true{% else %}false{% endif %}" data-was-solved="{% if was_solved %}true{% else %}false{% endif %}">
  {% if best_latest_revision.figure %}
     <img class="img-fluid center-block" src="{{ best_latest_revision.figure.url }}">
  {% endif %}

<div>
    {% if question.sources.count > 1 %}
    <span style="float: right;display: block" class="badge badge-default badge-success">Repeated {{ question.sources.count }} times </span>
    {% endif %}
    </div>
    <p class="question-text">{% get_question_text highlight best_latest_revision session %}</p>
    <table>
      <tbody>
        {% for choice in best_latest_revision.choice_set.order_randomly %}
            <tr data-choice-pk="{{ choice.pk }}">
               <td class="correct">{% if not session.question_filter == 'INCOMPLETE' and not choice.answer_correction %}<i{% if not choice.is_right %} class="fa fa-hand-paper-o"{% endif %}></i>{% endif %}</td>
               <td class="check">{% if choice.is_right %}<i class="fa fa-check text-success"></i>{% elif not choice.is_right and choice.answer_correction %}<i class="fa fa-exclamation-triangle text-warning answer-correction-notification"></i>{% include 'exams/partials/show_answer_correction.html' %}{% elif not choice.is_right %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
               <td><input {% if choice|was_chosen:session %}checked {% endif %}{% if was_solved %}disabled {% endif %}class="question-choice" name="question-choice" type="checkbox"></td>
               <td><span class="choice-text {% stricken_choice_class choice highlight session %}">{{ choice.text }}</span></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
<div class="row">
  <div class="col-sm-8">
     <div class="explanation-container">
      <h3>Explanation:</h3>
      <div class="explanation-content">{% include 'exams/partials/show_explanation.html' %}</div>
    </div>
  </div>
  <div class="col-sm-4">
      <div class="mnemonics-container" style="display: block">
          {% if question.get_available_mnemonics.exists %}
          <h3 >Mnemonics:</h3>
          {% endif %}
            {% if question.get_available_mnemonics.exists %}
                {% for mnemonic in mnemonics %}

                    <div class="mnemonics-content"> {% include 'exams/partials/show_mnemonics.html' %}</div>
                {% endfor %}
            {% else %}

        {% endif %}
      </div>
  </div>
</div>

{% endwith %}{# with highlight #}
{% endwith %}{# with others #}
<div class="tooltip-container">
  <div class="tooltip-body">
    {% for contributor in question.get_contributors %}
      {% if forloop.first %}
          This question was originally added by {% if contributor %}<a href="{% url 'exams:list_contributions' contributor.pk %}">{{ contributor|get_user_credit }}</a>. {% else %} automatic importing.{% endif %}
        {% if question.get_contributors|length > 1 %}
        Futher contributions were done by
        {% endif %}
      {% else %}
        {{ contributor|get_user_credit }}{% if forloop.last %}.{% else %}, {% endif %}
    {% endif %}
      {% endfor %}
  </div>
</div>

</div>
