<div id="question-container" class="well-sm" type="hidden" name="question-div" data-question_pk={{ question.pk }} data-session_pk={{ session.pk }}>
    <p class="question-text">{{ question.get_latest_revision.text|linebreaksbr }}</p>

    <table>
      <tbody>
        {% for choice in question.get_latest_revision.choice_set.all %}
            <tr>
               <td><input name="question-choice" style="margin-right: 10px; word-wrap:break-word;" data-question_pk="{{ question.pk }}" data-session_pk="{{ session.pk }}" data-choice_pk="{{ choice.pk }}" type="checkbox"></td>
               <td class="choice-text">{{ choice.text }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="button" id="skip" class="pull-right btn btn-warning btn-rounded">Skip</button>
    <button type="button" id="next" style="display: none" class="pull-right btn btn-primary btn-rounded">Next</button>
</div>

{% block customscript %}
<style>
.strike{
    text-decoration: line-through;
}
.highlight{
    background: yellow;
    cursor: pointer;
}
.choice-text{
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
</style>

 <script type="text/javascript">
 $(document).ready(function(){
      $(".choice-text").click(function(){
            $(this).toggleClass("strike");
      });

//Wrap selected text in  tags with the class 'hl'
//Take some action after (in this case, a simple alert)
$(".question-text").mouseup(
    function() {
        var selection = window.getSelection().toString();
        console.log(selection);
        if(selection.length >= 3) {
            var replacement = $('<span></span>').addClass('highlight').html(selection);
            var replacementHtml = $('<div>').append(replacement.clone()).remove().html();
            $(this).html( $(this).html().replace(selection, replacementHtml) );
        }
        $(".highlight").click(function(){
            $(this).removeClass("highlight");
        });
    }
);



      $('#question-container input[type=checkbox]').on('change',function(){
          console.log('it has been changed ');
          var $box = $(this);
          if ($box.is(":checked")) {
            // the name of the box is retrieved using the .attr() method
            // as it is assumed and expected to be immutable
            var group = "input:checkbox[name='" + $box.attr("name") + "']";
            // the checked state of the group/box on the other hand will change
            // and the current value is retrieved using .prop() method
            $(group).prop("checked", false);
            $box.prop("checked", true);
          } else {
            $box.prop("checked", false);
          }
          if ( $('input[name="question-choice"]').is(':checked') ) {
              $('#skip').hide();
              $('#next').show()

          }
          else {
              $('#next').hide();
              $('#skip').show()

          }
      });
      $('#next').click(slected_choice);
      $('#skip').click(skipped_answer)
 });

 </script>
{% endblock %}
