{% with correction=choice.answer_correction %}{% load exam_utils %}
<div class="answer-correction-tooltip-container">
  <div class="answer-correction-tooltip-body">
    <h5>Answer correction</h5>

    {{ correction.submitter.profile.nickname|default:correction.submitter.username }} suggests that <strong>"{{ choice }}"</strong> is the correct answer.  {% if correction.supporting_users.exists %}{{ correction.supporting_users.count }} users supported this correction.{% endif %}{% if correction.opposing_users.exists %}{{ correction.opposing_users.count }} users opposed this correction.{% endif %}
    <div class="row justify-content-center">
      <div class="col-12">
        <button {% if not user|can_support_correction:correction %}disabled {% endif %}data-choice-pk="{{ choice.pk }}" data-action="support" class="support-correction btn btn-xs mr-2"><i class="icon-thumbs-up3"></i></button>
        <button {% if not user|can_oppose_correction:correction %}disabled {% endif %}data-choice-pk="{{ choice.pk }}" data-action="oppose" class="support-correction btn btn-xs"><i class="icon-thumbs-down3"></i></button>
      </div>
  </div>
  </div>
</div>
{% endwith %}
