{% load static core_utils %}
{% if explanation_revision.explanation_text %}<p class="explanation-text">{{ explanation_revision.explanation_text|urlize_target_blank }}</p>{% endif %}
{% with figures=explanation_revision.figures.all img_class='explanation-figure' fancybox_prefix="explanation-" %}{% include 'exams/partials/figures.html' %}{% endwith %}
{% if explanation_revision.reference %}<h4 class="explanation-reference-header">Reference</h4>{{ explanation_revision.reference|urlize_target_blank|linebreaks }}{% endif %}
