{% load bootstrap3 static %}
<style>
.img-responsive {
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin-right: 20%;
}
li.is-right{
    font-weight: 800;
}
p.question-text{
    font-size: medium;
    font-weight: 800;
}
</style>
<div class="panel panel-flat">
   <div class="panel-body">
    {% if revision.figure %}
       <img class="img-responsive center-block"  src="{{ revision.figure.url }}">
    {% endif %}
    <p class="question-text">{{ revision.text|linebreaksbr }}</p>
    <ol type="A">
     {% for choice in revision.choice_set.order_by_alphabet %}
       <li {% if choice.is_right %}class="is-right text-success-800"{% endif %}>{{ choice.text|linebreaksbr }}</li>
     {% endfor %}
    </ol>

    {% if explanation_revision %}<h3>Explanation</h3>
      {% include 'exams/partials/show_explanation.html' %}
    {% endif %}
  </div>
</div>
