{% load bootstrap3 %}{% load staticfiles %}

<form id="explanation-form" action="post">
{% csrf_token %}
{% bootstrap_form form %}
</form>
<script type="text/javascript">
$(function () {
    // modify form submission behaviour to be ajaxy
    $("form#explanation-form").submit(function (event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get some values from elements on the page: */
        var formData = new FormData($(this)[0]);
        url = $(this).data('url');

        /* Send the data */
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success == 1) {
                    // show success message (using toastr)
                    toastr.options.positionClass = "toast-top-left";
                    toastr.success("Your explanation was successfully added!");
                    $("#explanation-modal").modal('hide');
                } else {
                    $("#explanation-modal .modal-body").html(data);
                }}
        });
    });
});

</script>
{{ form.media }}
